%h1
  General Information
%h2
  %strong
    Airfares
%p
  To obtain the  best possible airfare it is important you book your airfares as far in advance  as possible.
%h2
  %strong
    Airport And  Transport
%p
  %strong
    Sydney
  %strong
    \:
  The central business district is 10km north  of the International   Airport and takes approximately  20 minutes to reach by car. A taxi costs approximately A$25. A regular airport  shuttle bus service to city hotels operates from approximately 06:00 to 21:00  hours (not recommended for those with large amounts of luggage). If you have  any queries about transfers, please see the Travellers Information Desk at the  Airport.
%p
  %strong
    Taxis:
  Taxis in Sydney operate under two  pricing structures. From 06:00 – 22:00 hours the standard fare applies. On the  left hand side of the taxi meter, above the word ‘rate’ you should see the  number 1. From 22:00 – 06:00 hours, a 20% night tariff applies, at these times  the meter should be set on rate 2. Please check the meter is set correctly when  you begin your journey.
%p
  %strong
    Trains:
  There is a train  station located at both the Domestic and International Terminals at Sydney Airport.  Trains run on average every 10 minutes during the day on a weekday and every 15  minutes on weekends. From the Domestic Terminal, it takes 10 minutes to reach  Central Station and 15 minutes to Circular Quay. From the International  Terminal it takes a few minutes longer. It will then be necessary to take a  taxi to your hotel. Elevators are available at both the International and  Domestic Terminals for the easy transfer of luggage. Fares from the Domestic Terminal  to the City start at $10 per adult for a single journey. For further  information on the service that the Airport Link provides, please see:
  %a{ :href => "http://www.airportlink.com.au" }
    www.airportlink.com.au
%h2
  %strong
    Banking/Currency
%p
  Decimal  currency is used in Australia  with the dollar as the basic unit (100 cents = $1). Notes come in $100, $50,  $20, $10, and $5. Coins come in 5c, 10c, 20c, 50c, $1 and $2 denominations.  When paying by cash (
  %em
    i.e.,
  not with a credit card), prices will be  rounded to the nearest 5c.
  %br
  Currency  exchange facilities are available in most banks, hotels and airports and  operate normal business hours. Credit cards are accepted at most restaurants  and shops, the most widely used being MasterCard, Visa, American Express and  Diners Club.
%h2
  %strong
    Business  Hours
%p
  Banks  generally open from 09:30 – 16:00 hours Monday - Friday. General office hours  are 09:00 – 17:00 Monday - Friday. Post Offices operate these hours, however  stamps are often available from hotels.
  %strong
%h2
  %strong
    Car  Hire/Parking
%p
  All major car  hire companies, including Avis, Budget, Europcar, Hertz and Thrifty, operate in  Australia and vehicles may  be hired at Sydney   Airport. Parking is  available at the Conference venue.
  %strong
%h2
  %strong
    Climate And  Clothing
%p
  November is  spring and the temperature range is 16º Celsius to 24º Celsius (61º Fahrenheit  to 75º Fahrenheit).
  %br
  Generally,  Australians are informal dressers. We suggest men bring a jacket and tie for  evening functions and smart casual for the women.
%h2
  %strong
    Eating Out
%p
  Bistros,  restaurants, cafes and coffee shops offer varied menus, prices and decor. Local  specialties such as seafood and Australian wines are worth trying. At some  restaurants you can keep the liquor bill down by taking your own wine or beer.  These are called &quot;BYO&quot; restaurants, an abbreviation for &quot;bring  your own&quot;.
  %strong
%h2
  %strong
    Electricity
%table{ :border => "0", :cellpadding => "0" }
  %tr
    %td{ :valign => "top", :width => "500" }
      Electrical    current is 240/250V, AC 50Hz. The Australian three-pin power outlet is    different from that in many countries, so you will need an adaptor. If your    appliances are 110V, check if there is a 110/240V switch. If not, you will    need a voltage converter. Universal outlets for 240V or 110V shavers are    usually found in leading hotels.
    %td{ :width => "100" }
      %p
        %img{ :src => "../images/power.jpg", :height => "100", :alt => "Australian three-pin power oulet", :width => "200" }
%h2
  %strong
    %br
    Goods &amp; Services Tax (Gst) / Tourist Refund Scheme (Trs)
  %strong
%p
  Australia levies a Goods and  Services Tax (GST) of 10%.
  %br
  The Tourist  Refund Scheme (TRS) enables travellers departing Australia  to claim a refund of the GST (and also the Wine Equalisation Tax (WET) paid on  goods bought in Australia  and taken out of the country. The refund applies to goods over the value of  A$300 when items are purchased in the same shop within 30 days of your  departure from Australia.  Should an item be too large to take onto the aircraft as hand luggage you will  need to visit the TRS clearing office at the international airport with the  item and receipt. The receipt will be stamped &quot;TRS sighted&quot; and at  that point you can check in the large item with your luggage. Once you have  cleared customs you can collect your refund from the TRS desk by showing your  receipt or items purchased. It does not apply to services or goods consumed or  partly consumed in Australia.  Goods which are to be exported can be used before departing Australia.
  %strong
%h2
  %strong
    Language
%p
  The official  language for the conference is English.
  %strong
%h2
  %strong
    Passport  &amp; Visa
%p
  All  travellers to Australia,  other than New Zealand,  require a valid entry VISA prior to travel to Australia. For many nationalities  (29 in total) an Electronic Visa or Electronic Travel Authority (ETA) can be  obtained from your travel agent or airline when making your travel arrangements.  Please see your travel agent or airline for further details.
  %strong
%h2
  %strong
    Planning  Your Travel
%p
  Because of  time change and jet lag, the Organising Committee suggests you consider  arriving in Australia  by 15 October 2009 or earlier. This will enable you to relax and familiarise  yourself with your hotel, its surrounds and Sydney before the start of the conference.
  %strong
%h2
  %strong
    Privacy
%p
  The  Conference Managers comply with the Australian &quot;Privacy Amendment (Private  Sector) Act 2000&quot; which is designed to protect the right of the individual  to privacy of their information. Information collected in respect of proposed  participation in any aspect of the Conference will be only used for the  purposes of planning and conduct of the Conference and may also be provided to  the organising body or to organisers of future events. It is also usual to  produce a &quot;Delegate List&quot; of attendees at the Conference and to  include the individual’s details in such a list. Consent for publication of the  individual’s information may be withheld when completing the Registration Form  for the Conference. Individuals are also entitled to access the information  held by written application to the Conference Managers.
  %strong
%h2
  %strong
    Quarantine
%p
  Australia is free from many  plant and animal diseases prevalent in other countries. Very strict quarantine  rules apply to the import of animals and plants, including most food products,  which cannot be brought into the country without prior application. Animal and  plant products are also restricted.
%p
  For more  information see the
  %a{ :href => "http://www.affa.gov.au" }
    Australian Quarantine and Inspection Service (AQIS) website
  \.
  %strong
%h2
  %strong
    Shopping
%p
  Sydney Shops  are typically open from 09:00 to 17:30 hours during the week with late night  shopping on Thursday. On Saturday, most shops open from 0900 to 1600. On Sunday Darling   Harbour shops are open  from 10:00 to 18:00 and major department stores in the centre of the city are  open from 10:00 to 16:00.
  %strong
%h2
  %strong
    Time
%p
  Sydney is 10 hours ahead of  Greenwich Mean Time.
  %strong
%h2
  %strong
    Tipping
%p
  Tipping is  not as widespread or regulated in Australia as it is in other parts  of the world. Tipping is your prerogative, a reward for service. It is  customary to tip hotel porters and a gratuity of about 10 per cent is usual in  restaurants if good service is received. Tips for taxis are regarded as  optional.
  %strong
%h2
  %strong
    Vaccinations
%p
  A current  valid international certificate of inoculation against yellow fever is required  if passengers come from, or travel through, infected areas. Check this  carefully with your airline or travel agent.
