
%h1
  Contacts
%h2
  FOSS4G Wiki Site
%p
  %a{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
    http://wiki.osgeo.org/wiki/FOSS4G_2009
%h2
  Professional Conference Organiser
%p
  %a{ :href => "http://www.tourhosts.com.au/" }
    %img{ :src => "../images/thlogo.gif", :border => "0", :height => "29", :alt => "Tour Hosts", :width => "100" }
%p
  FOSS4G 2009 Conference Managers
  %br
  c/o Tour Hosts Pty Limited
%p
  %strong
    Postal
  %br
  GPO Box 128
  %br
  Sydney, NSW, 2001 Australia
%p
  %strong
    Courier
  %br
  Level 10 51 Druitt Street
  %br
  Sydney, NSW, 2001 Australia
  %br
  Ph: + 61 2 9265 0700
  %br
  Fax: + 61 2 9267 5443
  %br
  Email:
  %a{ :href => "mailto:foss4g2009@tourhosts.com.au" }
    foss4g2009@tourhosts.com.au
%h2
  Contact us form
%form{ :name => "contactform", :action => "formprocess/", :method => "post" }
  %div
    %label{ :for => "title" }
      Title:
    %br
    %select#title{ :name => "title" }
      %option{ :value => "na" }
      %option{ :value => "Mr" }
        Mr
      %option{ :value => "Mrs" }
        Mrs
      %option{ :value => "Ms" }
        Ms
      %option{ :value => "Miss" }
        Miss
      %option{ :value => "Dr" }
        Dr
      %option{ :value => "Prof" }
        Prof
      %option{ :value => "A/Prof" }
        A/Prof
    %br
    %br
    %label{ :for => "name" }
      Name*:
    %br
    %input#name{ :name => "name", :type => "text" }
    %br
    %br
    %label{ :for => "Email" }
      Email*:
    %br
    %input#Email{ :name => "Email", :type => "text" }
    %br
    %br
    %label{ :for => "Subject" }
      Subject*:
    %br
    %input#Subject{ :name => "Subject", :type => "text" }
    %br
    %br
    %label{ :for => "Organisation" }
      Organisation:
    %br
    %input#Organisation{ :name => "Organisation", :type => "text" }
    %br
    %br
    %label{ :for => "Comments" }
      Comments*:
    %br
    %textarea#Comments{ :name => "Comments", :rows => "5", :cols => "60" }
    %br
    %br
    %input{ :type => "submit", :value => "Submit" }
    %br
    %br
    %em
      *Required Fields
%script{ :language => "JavaScript", :type => "text/javascript" }
  var frmvalidator = new Validator("contactform");
  frmvalidator.addValidation("name","req","Please enter your Name");
  frmvalidator.addValidation("name","maxlen=40",
  "Max length for Name is 40 characters");
  
  frmvalidator.addValidation("Email","maxlen=50");
  frmvalidator.addValidation("Email","req","Please enter your Email address");
  frmvalidator.addValidation("Email","email");
  
  frmvalidator.addValidation("Subject","req");
  frmvalidator.addValidation("Comments","req");
