
%h1
  Committee
%h2
  %strong
    FOSS4G 2009  Organising Committee
%p
  %strong
    %a{ :href => "http://cameronshorter.blogspot.com/" }
      Cameron Shorter
  ,
  %a{ :href => "http://lisasoft.com" }
    LISAsoft
  (Chair)
  %br
  %strong
    Tim Bowden
  , Mapforge
  %br
  %strong
    Shoaib Burq
  , Geoscience Australia
  %br
  %strong
    Bruce Bannerman
  , Bureau of Meteorology
  %br
  %strong
    Ben Searle
  , Office of Spatial Data Management
  %br
  %strong
    %a{ :href => "http://www.mapbutcher.com/blog/" }
      Simon Hope
  ,
  %a{ :href => "http://www.esriaustralia.com.au/" }
    ESRI Australia
  %br
  %strong
    Harley Prowse
  ,
  %a{ :href => "http://www.geobiz.co.nz/" }
    Geographic Business Solutions Ltd
  , Auckland, New Zealand.
  %br
  %strong
    Jody Garnett
  ,
  %a{ :href => "http://lisasoft.com" }
    LISAsoft
  %br
  %strong
    Mark Leslie
  ,
  %a{ :href => "http://lisasoft.com" }
    LISAsoft
  %br
  %strong
    Volker Mische
  %br
%h2
  %strong
    OSGeo Representatives
%p
  %strong
    Jeff McKenna
  , OSGeo conference committee Chair
  %br
  %strong
    Paul Ramsey
  , OSGeo Board Representative
  %br
  %strong
    Tyler Mitchell
  , OSGeo Executive Director
