%h1
  Venue – Sydney Convention &amp; Exhibition Centre (SCEC)
%p
  %img{ :src => "../images/sydney.jpg", :height => "151", :hspace => "5", :alt => "Sydney Darling Harbour", :align => "right", :width => "200" }
  FOSS4G 2009 will be held at the Sydney Convention and Exhibition Centre (SCEC), Darling Harbour. This large purpose-built facility, is set in 50 hectares of parks, gardens, museums, shopping malls and amusement areas. Nestled on the shores of Darling Harbour, the venue has magnificent views of the city and is only a short walk to several attractions. Next to the Convention Centre is the Harbourside shopping and restaurant complex.
%p
#map{ :style => "width:400px; height:400px" }
</p>
%p
  %a{ :href => "../pdf/DHMap.pdf" }
    %img{ :src => "../images/pdficon.gif", :border => "0", :height => "38", :alt => "PDF Icon", :align => "middle", :width => "37" }
  %a{ :href => "../pdf/DHMap.pdf" }
    Download Darling Harbour Map
  (PDF, Size: 411KB)
  %br
