
%h1
  Registration
%p
  Participation is open to all persons interested in Free and Open Source Software for Geospatial.  Those who wish to attend the Conference should complete the online registration form. Website registration is strongly encouraged.
  %br
  Please note that all persons intending to attend the Conference must register, including Invited Speakers, Chairpersons, Delegates, Exhibitors and Sponsors. Please read through the below information carefully before you complete your registration form.
%h2
  Conference Registration Fee (per delegate)
%p
  To view the current foreign exchange rates, please visit
  %a{ :href => "http://www.x-rates.com" }
    www.x-rates.com
%table
  %tr
    %th
      Category
    %th
      Early Registration
    %th
      Standard Registration
    %th
      Onsite Registration
  %tr
    %td
    %td
      Before 31 July 2009
    %td
      After 31 July 2009
    %td
      After 19 October 2009
  %tr
    %td
      Full Registration
    %td
      A$725.00
    %td
      A$935.00
    %td
      A$1145.00
  %tr
    %td
      Student Registration
    %td
      A$460.00
    %td
      A$620.00
    %td
      A$780.00
  %tr
    %td
      Day Registration
    %td
      A$410.00
    %td
      A$570.00
    %td
      A$725.00
%p
  To be entitled to the early registration fee you must have registered and paid by 31 July 2009.
%p
  %strong
    Please note:
  Exhibitors should refer to the Exhibition Manual for their
  %strong
    registration details
  and entitlements.
%p
  %strong
    Students:
  A student is defined as a holder of a valid student card from a recognised tertiary or secondary educational institution or international student card. Students must be studying full time to qualify for the discounted rate. A copy of your student card is required when you submit your registration form. Without this copy the full registration fee will be charged.
%h2
  Workshop Registration Fee (per delegate)
%p
  Conference Delegates have the opportunity to attend the FOSS4G Workshops taking place on Tuesday 20 October 2009. These workshops will be 3 hours in duration and will offer delegates hands-on software experiences under the guidance of an instructor. The Workshop fee entitles delegates to attend one morning workshop and one afternoon workshop. Please
  %a{ :href => "http://2009.foss4g.org/workshops/" }
    click here
  for more information on workshop topics and facilitators.
%h2
  Workshops are
  %strong
    not included
  in the Conference Registration Fee for Delegates.
%p
  To view the current foreign exchange rates, please visit
  %a{ :href => "http://www.x-rates.com" }
    www.x-rates.com
%table
  %tr
    %th
      Category
    %th
      Date
    %th
      Registration Fee
  %tr
    %td
      Workshop Registration
    %td
      Tuesday 20 October 2009
    %td
      A$375.00
%h1
  Conference Registration Entitlements
%table
  %tr
    %td
    %th
      Full Registration
    %th
      Student Registration
    %th
      Day Registration
  %tr
    %td
    %td
    %td
    %td
      %sup.footnote
        %a{ :href => "#fn1" }
          1
  %tr
    %td
      All sessions
    %td
      Y
    %td
      Y
    %td
      Y
  %tr
    %td
      Name Badge &amp; Satchel
    %td
      Y
    %td
      Y
    %td
      Y
  %tr
    %td
      Official Documentation
    %td
      Y
    %td
      Y
    %td
      Y
  %tr
    %td
      Morning, Afternoon Tea and Lunches
    %td
      Y
    %td
      Y
    %td
      Y
  %tr
    %td
      Welcome Reception
    %td
      Y
    %td
      Y
    %td
      X
  %tr
    %td
      Attendance at Exhibition
    %td
      Y
    %td
      Y
    %td
      Y
  %tr
    %td
      Workshops Sessions
    %td
      Y
    %td
      Y
    %td
      Y
  %tr
    %td
      single morning and afternoon workshop
    %td
      X
    %td
      X
    %td
      X
%p#fn1.footnote
  %sup
    1
  All entitlements apply to the day of attendance
  %span.caps
    ONLY
%h1
  Payment of Fees
%h2
  Credit Card Payment Online:
%p
  Online Registration is preferred. Payment for online registrations by credit card can be made by completing the online form and selecting your payment method as ‘Online Credit Card Payment’. MasterCard, Visa, Diners Club and American Express are the only credit cards accepted at the Conference. Please note all transactions by credit card will appear on your statement as payment to ‘Conference by
  %span.caps
    THPL
  ’.
%h2
  Cheque/Money Order Payments:
%p
  Payment by cheque can be made by completing the online registration form and selecting your payment method as ‘Cheque Payment’. An acknowledgement will be emailed to you with a tax invoice attached.
%p
  Cheque payments will only be accepted up until
  %strong
    18 September 2009
  \. After this date, all registrations must be submitted with credit card payment via the online registration form or by calling +61 2 9265 0700.
%p
  Cheques are to be made payable to ‘
  %strong
    FOSS4G 2009 Conference
  ’. Your name and full address should be typed or printed clearly on the back of the cheque. Cheque payments from overseas must be a bank cheque in Australian Dollars drawn on an Australian Bank. No other currency will be accepted.
%h2
  Faxing/Mailing Registrations:
%p
  Faxed or posted registration forms will only be processed / confirmed if credit card details or cheque payment are accompanied with the form.
%p
  You may not pay your fees by Electronic Funds Transfer (
  %span.caps
    EFT
  ).
%h1
  Registration Forms
%p
  To register online for the FOSS4G 2009 Conference please click here:
.notice_white
  %a{ :href => "https://ei.eventinfotech.com.au/ei/rs.esp?id=739&amp;scriptid=LOGINR" }
    %img{ :title => "Register Now!", :src => "images/register_button.png", :border => "0", :alt => "Register Now!" }
%h1
  Acknowledgements
%p
  Your registration and payment will be acknowledged via email or post with confirmation of your requirements according to your registration form. Your registration will not be processed or confirmed if payment does not accompany your form.
%p
  You will not receive any further publications before the Conference. Your letter of acknowledgment will include any further advice necessary prior to your arrival at the Conference. At the Conference you will receive the final program and post-Conference a Delegate List will be emailed to you.
%h1
  Cancellation and Refund Policy
%p
  Cancellations must be notified in writing to the Conference Managers.
%p
  Registration Fees:
%ul
  %li
    Before 20 July 2009 will incur an A$100.00 cancellation fee.
  %li
    Before 8 September 2009 will receive a 50% refund of fees paid.
  %li
    After 8 September 2009 there will be no refund.
%p
  Social Program:
%ul
  %li
    Payments are non-refundable at 8 September 2009
%h1
  Entrance to Conference
%p
  Each member of the Conference will receive a name badge upon registration. The badge will be your official pass and must be clearly visible at all times to obtain entry to all sessions and to social functions. The Conference Managers expect appropriate behaviour from attendees and reserves the right to revoke the badge and privileges of anyone behaving in an inappropriate manner.
%h1
  Insurance
%p
  Registration fees do not include insurance of any kind. It is strongly recommended that at the time you register for the Conference and book your travel, you take out an insurance policy of your choice. The policy should include loss of fees/deposit through cancellation of your participation in the Conference, or through cancellation of the Conference, loss of international/domestic airfares through cancellation for any reason, loss of tour monies through cancellation for any reason including airline or related services strikes within Australia, failure to utilise tours or pre booked arrangements due to airline delay, Force Majeure or any other reason, medical expenses (including sickness and accident cover), loss or damage to personal property, additional expenses and repatriation should travel arrangements have to be altered. The Conference Managers cannot take any responsibility for any participant failing to arrange their own insurance. This insurance is to be purchased in your country of origin.
%h2
  accommodation
%p
  For accommodation please see the
  %a{ :href => "../accommodation" }
    accommodation page
  \.
