
%h1
  FOSS4G 2009 Workshops
%p
  Ten half-day workshops (3 hours in duration) will be held on the first day of the
  conference, October 20th with particular
  emphasis on the following topics:
%ul
  %li
    Practical introductions
  %li
    Interoperability
  %li
    Spatial data accuracy
  %li
    Spatial data privacy
  %li
    Data migration
  %li
    System implementation
  %li
    Data security
%h2
  Workshops
%p
  It is our pleasure to end the speculation on workshops for FOSS4G in October.  While the full descriptions won't be published until closer to the opening of registration, here is the final list:
.en_session_title
  Getting Started with MapServer
.en_session_speakers
  Jeff McKenna, Tyler Mitchell, and Pericles Nacionales
%br
.en_session_title
  Geospatial BI with FOSS: an introduction to GeoMondrian and Spatialytics
.en_session_speakers
  Thierry Badard and Etienne Dubé
%br
.en_session_title
  Introduction to PostGIS
.en_session_speakers
  Mark Leslie and Paul Ramsey
%br
.en_session_title
  Introduction to the Open Geo-Stack: PostGIS, GeoServer, GeoWebCache, and OpenLayers
.en_session_speakers
  Justin Deoliveira, Andrea Aime, Paul Ramsey, and Tim Schaub
%br
.en_session_title
  Making Maps Fast - Performance tuning and Tile Caching
.en_session_speakers
  Arne Kepp and Jim Groffen
%br
.en_session_title
  OpenLayers - Your Foundation for Browser Based Mapping
.en_session_speakers
  Tim Schaub and Roald de Wit
%br
.en_session_title
  Organising your geospatial data and services using GeoNetwork opensource
.en_session_speakers
  Jeroen Ticheler and François Prunayre
%br
.en_session_title
  Practical Introduction to GRASS and related software for beginners
.en_session_speakers
  Paolo Zatelli, Marco Ciolli, and Clara Tattoni
%br
.en_session_title
  Practical introduction to MapFish, the web 2.0 mapping application framework
.en_session_speakers
  Claude Philipona, Cédric Moullet, Frédéric Junod, and Eric Lemoine
%br
.en_session_title
  Working with GeoServer
.en_session_speakers
  Justin Deoliveira and Andrea Aime
%h2
  %strong
    Guidelines for workshop submissions
%p
  Workshops are expected to be a hands-on experience with participants following along
  with the instructor, working directly with the software under discussion. All workshops
  will be equipped with computers (two students sharing one system) to support this
  vision. Workshop computers will be pre-installed with a basic image containing standard
  software packages running in a Windows XP environment. A standard FOSS4G LiveDVD
  will be provided to all conference participants. The use of this or another LiveCD/DVD
  or other replacement operating system is possible but will be undertaken at the
  risk of the presenter. To discuss your needs for either the workshop computer set-up
  or Live DVD, please
  %a{ :href => "http://lists.osgeo.org/mailman/listinfo/conference-workshops/" }
    contact
  the organising committee
%p
  Workshops are also expected to require considerable effort to create, with past
  experience showing that three days of preparation per hour of presentation are required
  to produce a high quality workshop. Additionally you will be expected to develop
  material for attendees to take home with them, such as handouts, workbook, CD-ROMs
  etc. Due to the effort involved in producing and presenting a workshop, presenters
  will receive a single free registration to the conference for delivering a workshop.
  Should the conference exceed attendance expectations a second conference pass may
  be provided for secondary instructors.
%p
%p
  Presenters are encouraged to make use of scenarios and on-site data from the Climate
  Change Integration Plugfest (CCIP) if appropriate. This is especially critical as
  demand for access to data over the internet is expected to be very high, and Australia
  has notoriously slow connections to the outside world. Contact details for the CCIP
  are available at
  %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
  \.
