!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      FOSS4G 2009 Conference, Sydney 20-23 October 2009 - Committee
    %link{ :href => "layout.css", :rel => "stylesheet", :type => "text/css" }
    /
      [if IE]>
      <style type="text/css">
      \/* place css fixes for all versions of IE in this conditional comment */
      \.thrColElsHdr #sidebar1, .thrColElsHdr #sidebar2 { padding-top: 30px; }
      \.thrColElsHdr #mainContent { zoom: 1; padding-top: 15px; }
      \/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
      </style>
      <![endif]
    %script{ :src => "../SpryAssets/SpryMenuBar.js", :type => "text/javascript" }
    %link{ :href => "../SpryAssets/SpryMenuBarVertical.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #container
      #header
        %a{ :href => "../index.html" }
          %img{ :src => "../images/logo.gif", :border => "0", :height => "200", :alt => "FOSS4G", :width => "600" }
        /
          end #header
      #sidebar1
        %ul#MenuBar1.MenuBarVertical
          %li
            %a{ :href => "../index.html", :title => "Home" }
              Home
          %li
            %a{ :href => "../expressionofinterest", :title => "Expression of Interest" }
              Expression of Interest
          %li
            %a{ :href => "../sponsorship", :title => "Sponsorship" }
              Sponsorship
          %li
            %a{ :href => "../schedule", :title => "Programme" }
              Programme
            %ul
              %li
                %a{ :href => "../schedule" }
                  Conference Schedule
              %li
                %a{ :href => "../speakers" }
                  Speakers
              %li
                %a{ :href => "../presentations" }
                  Presentations
              %li
                %a{ :href => "../workshops" }
                  Workshops
              %li
                %a{ :href => "../tutorials" }
                  Tutorials
              %li
                %a{ :href => "../posters" }
                  Posters
              %li
                %a{ :href => "../ccip" }
                  CCIP
              %li
                %a{ :href => "index.html" }
                  Events & Activities
          %li
            %a{ :href => "../submissions" }
              Submissions Guide
          %li
            %a{ :href => "../sydney", :title => "Sydney" }
              Sydney
            %ul
              %li
                %a{ :href => "../venue" }
                  Venue
              %li
                %a{ :href => "../general", :title => "General Information" }
                  General Information
              %li
                %a{ :href => "../visas", :title => "Visa Information" }
                  Visa Information
          %li
            %a{ :href => "../committee", :title => "Committee" }
              Committee
          %li
            %a{ :href => "../contacts", :title => "Contacts" }
              Contacts
        #stayConnected
          %h3
            Stay Connected
          %table{ :border => "0" }
            %tr
              %td
                %a{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
                  %img{ :src => "../images/Wiki_icon.gif", :border => "0", :height => "40", :alt => "Wiki", :align => "middle", :width => "40" }
              %td
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
                  Wiki
            %tr
              %td
                %a{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
                  %img{ :src => "../images/Mail_icon.gif", :border => "0", :height => "40", :alt => "Mailing List", :align => "middle", :width => "40" }
              %td
                %a.icontext{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
                  Mailing
                  list
                  %br
            %tr
              %td
                %a{ :href => "http://flickr.com/FOSS4G" }
                  %img{ :src => "../images/Flickr.png", :border => "0", :alt => "Flickr", :align => "middle" }
              %td
                %a.icontext{ :href => "http://flickr.com/FOSS4G" }
                  Flickr
            %tr
              %td
                %a{ :href => "http://twitter.com/FOSS4G" }
                  %img{ :src => "../images/Twitter_icon.gif", :border => "0", :height => "40", :alt => "Twitter", :align => "middle", :width => "40" }
              %td
                %a.icontext{ :href => "http://twitter.com/FOSS4G" }
                  Twitter feed
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_1" }
                  1.
                  Feb 2008
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_2" }
                  2.
                  May 2008
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_3" }
                  3.
                  Jan 2009
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_4" }
                  4.
                  Jan 2009
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_5" }
                  5.
                  Feb 2009
      #sidebar2
        %h3
          Hosted by
        %p
          %a{ :href => "http://www.osgeo.org/" }
            %img{ :src => "../images/osgeo_logo2.gif", :border => "0", :height => "71", :alt => "OSGeo Logo", :width => "160" }
        %p
          %a{ :href => "http://www.osgeo.org/" }
            The Open Source Geospatial Foundation
          (OSGeo)
          has been created to support and build the highest-quality open source geospatial
          software. The foundation's goal is to encourage the use and collaborative development
          of community-led projects, data development and education.
        /
          end #sidebar2
        %h3
          Charging Station Sponsor
        %td
          %a{ :href => "http://www.lisasoft.com/" }
            %img{ :src => "../images/sponsors/lisasoftFOSS4G_chrg_stn.png", :border => "0", :padding => "5", :width => "160" }
        %h3
          Bronze Sponsors
        %td
          %a{ :href => "http://www.geocat.net/" }
            %img{ :src => "../images/sponsors/GeoCat_200x42.png", :border => "0", :padding => "5", :width => "160" }
        %td
          %a{ :href => "http://lat-lon.de/" }
            %img{ :src => "../images/sponsors/logo-latlon.png", :border => "0", :padding => "5", :width => "160" }
        %h3
          Media Sponsors
        %table
          %tr
            %td
              %a{ :href => "http://www.positionmag.com.au/" }
                %img{ :src => "../images/Position Magazine.JPG", :border => "0", :width => "160" }
          %tr
            %td
              %a{ :href => "http://www.DirectionsMedia.NET/" }
                %img{ :src => "../images/dme.png", :border => "0", :width => "160" }
          %tr
            %td
              %a{ :href => "http://www.asmmag.com/" }
                %img{ :src => "../images/ASM Logo.JPG", :border => "0", :padding => "5", :width => "160" }
          %tr
            %td
              %a{ :href => "http://www.geoconnexions.org/" }
                %img{ :src => "../images/GeoInt.jpg", :border => "0", :padding => "5", :width => "160" }
      #mainContent
        .notice
          Call for
          %a{ :href => "../presentations/" }
            Presentations
          Now Open!
        %h1
          FOSS4G 2009 Events & Activities
        %h2
          %strong
            Welcome Reception - Tuesday 20 October 2009
        %p
          %strong
            Venue:
          Altitude Bar, Shelbourne Hotel
        %p
          %strong
            Time:
          1830 - Late
        %p
          All delegates are invited to celebrate the launch of the FOSS4G Conference at the
          Shelbourne Hotel. Re-unite with peers and enjoy casual drinks in a relaxed environment.
          Beverages and bar food will be available for purchase at the bar.
        %p
          The Shelbourne is located in close walking distance to the Convention Centre and
          the CBD so this is a great opportunity to kick off the Conference.
        %h2
          %strong
            Conference Dinner Cruise - Thursday 22 October 2009
        %p
          %strong
            Boarding Time:
          1840
        %p
          %strong
            Cruise Time:
          1900 - 2200
        %p
          %strong
            Ticket price:
          A$135.00
        %p
          The social highlight of the FOSS4G Conference 2009 is the Sydney Harbour Dinner
          Cruise. Step aboard and enjoy our splendid harbour whilst enjoying sunset drinks
          on the open deck, followed by a sumptuous seated 3 course meal accompanied by Australian
          wines.
        %h2
          %strong
            City Sights Tours
        %p
          For an overview of what Sydney has to offer, it is recommended that you do a Sydney
          city sights tour. Generally a three hour coach tour in either the morning or afternoon,
          this tour will give participants an orientation of the city and may include visits
          to points of interest such as The historic Rocks area, Mrs Macquarie’s Chair at
          the Botanic Gardens (with views of the Harbour Bridge and Opera House), the Eastern
          Suburbs and the famous Bondi Beach.
        %p
          Other tours include Northern Bush and Beaches and Australian Wildlife tours
        %p
          For further information and to make a booking, please visit and click ‘Sydney’:
        %a{ :href => "http://www.aatkings.com" }
          aatkings
        %a{ :href => "http://www.grayline.com" }
          grayline
        %h2
          %strong
            Cruising Sydney Harbour
        %p
          For a different perspective on Sydney and its magnificent harbour, why not try a
          cruise? Ranging from short cruises such as the main and middle harbour coffee cruise
          through to lunch and dinner cruises, you will be sure to be impressed and ‘wowed’
          by the views. Sail by some of Sydney’s most famous landmarks including the Sydney
          Opera House, Harbour Bridge and Fort Denison. Cruises may also include the upper
          reaches of Middle Harbour with natural bushland, harbour beaches and marinas.
        %p
          further information and to make a booking, please visit:
        %a{ :href => "http://www.captaincook.com" }
          captaincook
        %h2
          %strong
            Sydney Attraction Pass
        %p
          International visitors to Sydney can enjoy some uniquely Australian experiences
          by visiting any of the attractions. See over 11,500 all Australian aquatic animals
          at Sydney Aquarium, Experience Sydney's best views at Sydney Tower plus be amazed
          by OzTrek, a virtual adventure ride across Australia, or dare to step out over the
          edge with Sydney Skywalk, or have the experience of a lifetime by diving with sharks
          at Shark Dive Xtreme.
        %p
          Visitors from Australia Whether on holiday in Sydney, or visiting family and friends,
          domestic travellers from Australia can enjoy the best attractions Sydney has to
          offer. Plus, for local Sydneysiders, visiting any of the attractions is a great
          way to experience and enjoy activities in your home city. For further information
          and to make a booking, please visit:
        %a{ :href => "http://www.sydneyattractions.com" }
          sydneyattractions
        %h2
          %strong
            Walking Tours of The Rocks
        %p
          For a unique way to learn more about one of Australia’s oldest convict settlements,
          why not join a Rocks Walking Tour? This tour will leisurely walk and talk you through
          this historic area and will conclude where it started, The Rocks to allow you some
          free time to explore the precinct at your own pace. Tours run daily at scheduled
          times and last approximately 1½ hours covering approximately two kilometres at a
          moderate walking pace.
        %p
          For further information and to make a booking, please visit:
        %a{ :href => "http://www.rockswalkingtours.com" }
          rockswalkingtours
        %h2
          %strong
            Sydney Harbour BridgeClimb
        %p
          A three and a half hour experience commencing with a safety briefing at the BridgeClimb
          office Accompanied by an experienced leader, climbers cross the catwalk to the pylon
          and walk up to the summit of the Bridge’s upper arch - 130 metres above sea level.
          Climbers are harnessed to a static line for the duration of the climb and are treated
          to spectacular 360-degree views across the harbour.
        %p
          For further information and to make a booking, please visit:
        %a{ :href => "http://www.bridgeclimb.com" }
          bridgeclimb
        %h2
          %strong
            Sydney Opera House
        %p
          No visit to Sydney is complete without making your way to the world most recognisable
          sails – the iconic Sydney Opera House. Designed by Jørn Utzon and completed in 1973,
          this expressionist building is home to some of the world’s most famous opera’s including
          Don Giovanni, Lucia di Lammermoor and Madama Butterfly.
        %p
          If you are interested in the behind the scenes and history of this unique building
          then the Essential Tour is for you! You'll visit at least one of the venues - where
          performance lives every day. Some 1,500 performances, from opera to circus, rock
          and cabaret, are staged each year to audiences of around 1.5 million.
        %p
          For further information on the performances and tours available, or to make a booking,
          please visit:
        %a{ :href => "http://www.sydneyoperahouse.com" }
          sydneyoperahouse
        %h2
          %strong
            Blue Mountains 4WD Full Day Tour
        %p
          Have you seen what Sydney has to offer and want to get off the beaten track? Then
          why not experience the beautiful Blue Mountains! This full day tour will take you
          through a World Heritage listed region with sweeping views of canyons, magnificent
          cliffs and visits to areas such as the unique rock formations The Three Sisters.
          You may even be lucky enough to see some of Australia’s wildlife in their natural
          habitat.
        %p
          For further information and to make a booking, please visit:
        %a{ :href => "http://www.sydneyadventuretours.com/139/BLUE_MOUNTAIN_-_4WD_Discovery_Day_Tour.html" }
          sydneyadventuretours
        %a{ :href => "http://www.australianwildescapes.com/Tour_Detailed.asp?Code=BM1 " }
          australianwildescapes
        %h2
          %strong
            Disclaimer
        %p
          Please be advised that the above tours are offered by separate operators, and do
          not have any connection with Tour Hosts Pty Limited. This information is provided
          to delegates on a general basis and is the delegate’s responsibility to research,
          make a booking and pay for the service provided directly with the supplier.
        %p
          Please ensure that you read the terms and conditions on the operator website before
          proceeding with payment to avoid any problems. Any issues relating to this are at
          the expense of the delegate and not the responsibility of Tour Hosts Pty Limited.
      /
        This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
      %br.clearfloat
      #footer
        %table{ :border => "0", :width => "675" }
          %tr
            %td{ :colspan => "3" }
              %h4
                Contact Us
          %tr
            %td{ :width => "156" }
              %p
                %a{ :href => "http://www.tourhosts.com.au/" }
                  %img{ :src => "../images/thlogo.gif", :border => "0", :height => "29", :alt => "Tour Hosts", :width => "100" }
                  %br
                  %br
                FOSS4G 2009 Conference Managers
                %br
                c/o Tour Hosts Pty Limited
            %td{ :valign => "top", :width => "167" }
              %p
                %strong
                  Postal
                %br
                GPO Box 128
                %br
                Sydney, NSW, 2001 Australia
                %br
                Courier
                %br
                Level 10 51 Druitt Street
                %br
                Sydney, NSW, 2001 Australia
            %td{ :valign => "top", :width => "338" }
              %p
                %strong
                  Phone and Email
                  %br
                Ph: + 61 2 9265 0700
                %br
                Fax: + 61 2 9267 5443
                %br
                Email:
                %a{ :href => "mailto:foss4g2009@tourhosts.com.au" }
                  foss4g2009@tourhosts.com.au
          %tr
            %td{ :colspan => "3" }
              %p
                %br
                If you have experienced any difficulties with this Website then please let us
                %a{ :href => "mailto:foss4g2009@tourhosts.com.au?Subject=FOSS4G 2009 Web Site Issue" }
                  know
                \.
        /
          end #footer
      /
        end #container
    %script{ :type => "text/javascript" }
      /
        var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", { imgRight: "SpryAssets/SpryMenuBarRightHover.gif" });
        \//
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-7457734-1");
      pageTracker._trackPageview();
      } catch (err) { }
