
%h1
  FOSS4G 2009 Events & Activities
%h2
  %strong
    Welcome Reception - Tuesday 20 October 2009
%p
  %strong
    Venue:
  Altitude Bar, Shelbourne Hotel
%p
  %strong
    Time:
  1830 - Late
%p
  All delegates are invited to celebrate the launch of the FOSS4G Conference at the
  Shelbourne Hotel. Re-unite with peers and enjoy casual drinks in a relaxed environment.
  Beverages and bar food will be available for purchase at the bar.
%p
  The Shelbourne is located in close walking distance to the Convention Centre and
  the CBD so this is a great opportunity to kick off the Conference.
%h2
  %strong
    Conference Dinner Cruise - Thursday 22 October 2009
%p
  %strong
    Boarding Time:
  1840
%p
  %strong
    Cruise Time:
  1900 - 2200
%p
  %strong
    Ticket price:
  A$135.00
%p
  The social highlight of the FOSS4G Conference 2009 is the Sydney Harbour Dinner
  Cruise. Step aboard and enjoy our splendid harbour whilst enjoying sunset drinks
  on the open deck, followed by a sumptuous seated 3 course meal accompanied by Australian
  wines.
%h2
  %strong
    City Sights Tours
%p
  For an overview of what Sydney has to offer, it is recommended that you do a Sydney
  city sights tour. Generally a three hour coach tour in either the morning or afternoon,
  this tour will give participants an orientation of the city and may include visits
  to points of interest such as The historic Rocks area, Mrs Macquarie’s Chair at
  the Botanic Gardens (with views of the Harbour Bridge and Opera House), the Eastern
  Suburbs and the famous Bondi Beach.
%p
  Other tours include Northern Bush and Beaches and Australian Wildlife tours
%p
  For further information and to make a booking, please visit and click ‘Sydney’:
%a{ :href => "http://www.aatkings.com" }
  aatkings
%a{ :href => "http://www.grayline.com" }
  grayline
%h2
  %strong
    Cruising Sydney Harbour
%p
  For a different perspective on Sydney and its magnificent harbour, why not try a
  cruise? Ranging from short cruises such as the main and middle harbour coffee cruise
  through to lunch and dinner cruises, you will be sure to be impressed and ‘wowed’
  by the views. Sail by some of Sydney’s most famous landmarks including the Sydney
  Opera House, Harbour Bridge and Fort Denison. Cruises may also include the upper
  reaches of Middle Harbour with natural bushland, harbour beaches and marinas.
%p
  further information and to make a booking, please visit:
%a{ :href => "http://www.captaincook.com" }
  captaincook
%h2
  %strong
    Sydney Attraction Pass
%p
  International visitors to Sydney can enjoy some uniquely Australian experiences
  by visiting any of the attractions. See over 11,500 all Australian aquatic animals
  at Sydney Aquarium, Experience Sydney's best views at Sydney Tower plus be amazed
  by OzTrek, a virtual adventure ride across Australia, or dare to step out over the
  edge with Sydney Skywalk, or have the experience of a lifetime by diving with sharks
  at Shark Dive Xtreme.
%p
  Visitors from Australia Whether on holiday in Sydney, or visiting family and friends,
  domestic travellers from Australia can enjoy the best attractions Sydney has to
  offer. Plus, for local Sydneysiders, visiting any of the attractions is a great
  way to experience and enjoy activities in your home city. For further information
  and to make a booking, please visit:
%a{ :href => "http://www.sydneyattractions.com" }
  sydneyattractions
%h2
  %strong
    Walking Tours of The Rocks
%p
  For a unique way to learn more about one of Australia’s oldest convict settlements,
  why not join a Rocks Walking Tour? This tour will leisurely walk and talk you through
  this historic area and will conclude where it started, The Rocks to allow you some
  free time to explore the precinct at your own pace. Tours run daily at scheduled
  times and last approximately 1½ hours covering approximately two kilometres at a
  moderate walking pace.
%p
  For further information and to make a booking, please visit:
%a{ :href => "http://www.rockswalkingtours.com" }
  rockswalkingtours
%h2
  %strong
    Sydney Harbour BridgeClimb
%p
  A three and a half hour experience commencing with a safety briefing at the BridgeClimb
  office Accompanied by an experienced leader, climbers cross the catwalk to the pylon
  and walk up to the summit of the Bridge’s upper arch - 130 metres above sea level.
  Climbers are harnessed to a static line for the duration of the climb and are treated
  to spectacular 360-degree views across the harbour.
%p
  For further information and to make a booking, please visit:
%a{ :href => "http://www.bridgeclimb.com" }
  bridgeclimb
%h2
  %strong
    Sydney Opera House
%p
  No visit to Sydney is complete without making your way to the world most recognisable
  sails – the iconic Sydney Opera House. Designed by Jørn Utzon and completed in 1973,
  this expressionist building is home to some of the world’s most famous opera’s including
  Don Giovanni, Lucia di Lammermoor and Madama Butterfly.
%p
  If you are interested in the behind the scenes and history of this unique building
  then the Essential Tour is for you! You'll visit at least one of the venues - where
  performance lives every day. Some 1,500 performances, from opera to circus, rock
  and cabaret, are staged each year to audiences of around 1.5 million.
%p
  For further information on the performances and tours available, or to make a booking,
  please visit:
%a{ :href => "http://www.sydneyoperahouse.com" }
  sydneyoperahouse
%h2
  %strong
    Blue Mountains 4WD Full Day Tour
%p
  Have you seen what Sydney has to offer and want to get off the beaten track? Then
  why not experience the beautiful Blue Mountains! This full day tour will take you
  through a World Heritage listed region with sweeping views of canyons, magnificent
  cliffs and visits to areas such as the unique rock formations The Three Sisters.
  You may even be lucky enough to see some of Australia’s wildlife in their natural
  habitat.
%p
  For further information and to make a booking, please visit:
%a{ :href => "http://www.sydneyadventuretours.com/139/BLUE_MOUNTAIN_-_4WD_Discovery_Day_Tour.html" }
  sydneyadventuretours
%a{ :href => "http://www.australianwildescapes.com/Tour_Detailed.asp?Code=BM1 " }
  australianwildescapes
%h2
  %strong
    Disclaimer
%p
  Please be advised that the above tours are offered by separate operators, and do
  not have any connection with Tour Hosts Pty Limited. This information is provided
  to delegates on a general basis and is the delegate’s responsibility to research,
  make a booking and pay for the service provided directly with the supplier.
%p
  Please ensure that you read the terms and conditions on the operator website before
  proceeding with payment to avoid any problems. Any issues relating to this are at
  the expense of the delegate and not the responsibility of Tour Hosts Pty Limited.