
.notice
  Call for
  %a{ :href => "./presentations/" }
    Presentations
  Now Open!
%h1
  FOSS4G 2009 – Meer dan een internationale Open Source Conferentie over geografische en ruimtelijke toepassingen
%p
  De conferentie voor Vrije, Open Source Software voor geografische en ruimtelijke toepassingen (FOSS4G) zal plaatsvinden van 20 tot en met 23 Oktober 2009, in Sydney Australië.
%p
  Officiële conferentie website: &lt;
  %a.external.free{ :href => "http://2009.foss4g.org/", :title => "http://2009.foss4g.org/", :rel => "nofollow" }
    http://2009.foss4g.org/
  \&gt;
%p
  Ontstaan uit regionale bijeenkomsten van open source gemeenschappen, is de FOSS4G
  conferentie de laatste jaren uitgegroeid tot een ontmoetingsplaats voor internationale professionals op het gebied van geografische informatie voorziening. Een conferentie waar mensen samenkomen en uitdagingen, mogelijkheden en innovatieve ideeën delen over de mogelijkheden van vandaag en de kansen van morgen. Met thema's variërend van de integratie van - open source met bestaande commerciële systemen, het aanleggen van ruimtelijke data infrastructuur en het toepassen van open standaards - , biedt de conferentie een unieke gelegenheid om aan te sluiten op het uitgebreide kennisnetwerk van ontwikkelaars, sponsors, consultants, gebruikers en iedereen die interesse heeft, potentie ziet of in welke vorm dan raakvlakken heeft met toepassen van open source in de geo informatie.
%p
  Hoogtepunten van de FOSS4G 2009 conferentie zijn o.a.:
%p
  %strong
    The Climate Change Integration Plugfest (CCIP):
  FOSS4G lanceert de OGC's Climate Change Integration Plugfest (CCIP), waar interactie tussen open en gesloten geo informatie systemen en toepassingen worden gedemonstreerd. In deze Plugfest wordt duidelijk hoe geo informatie kan worden gebruikt bij het onderzoek naar klimaat veranderingen. Tijdens de demonstratie zullen een aantal servers met virtuele omgevingen draaien waarop diverse systemen draaien die via standaard web services geografische gegevens aanbieden. In deze interactieve demonstratie is het mogelijk alle afzonderlijke componenten van de ruimtelijke data infrastructuur in in detail te bekijken en te beoordelen. U komt in aanraking met leveranciers en implementatie partners en er wordt gesproken over de effectiviteit van verschillende methodes en componenten.
%p
  Meer informatie over de CCIP: &lt;
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009
  \&gt;
%p
  %strong
    De FOSS4G Live DVD
  \: Live DVD's, gebaseerd on het Xubuntu besturingssysteem voorgeinstalleerd met open source software, zullen worden uitgereikt aan alle aanwezigen. De Live DVD can worden opgestart op de computer zonder deze te installeren waardoor kennis gemaakt kan worden met de software zonder dat er aanpassingen op de computer worden gedaan.
%p
  Meer informatie over de Live DVD: &lt;
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
  \&gt;
%p
  %strong
    Installeer sessie
  \: De informele installeer sessie die zal plaatsvinden voor het diner geeft deelnemers de mogelijkheid in een gemeenschappelijke ruimte allerlei FOSS software te installeren op meegebrachte laptops, netbooks, PDA's en andere mobiele apparaten. Leden van de OSGeo gemeenschap zullen ondersteunen bij problemen en hulp en tips delen over de software.
%p
  %strong
    Workshops en Tutorials
  \: Workshops en tutorials geven sprekers de mogelijkheid om aanwezigen door applicaties, oplossingen, praktijk voorbeelden en andere onderwerpen te leiden in een interactieve omgeving.
%p
  %strong
    Presentaties
  \: De hoofdmoot van de conferentie zal bestaan uit presentaties.
  Puttend uit een grote groep lokale en internationale professionals zullen enkele van de meest actuele onderwerpen worden besproken die de industrie van vandaag bezig houden. Verwacht eerlijke, open presentaties waarin zowel voor- als nadelen aan bod zullen komen
%p
  %strong
    Birds of a Feather
  \: Er zijn ruimtes beschikbaar voor niet formeel georganiseerde besprekingen van kennisgroepen die spontaan ontstaan. saillant detail: Enkele van de meest prominente activiteiten van de OSGeo gemeenschap zijn in dergelijke vrije sessies ontstaan.
%p
  %strong
    Demo Theater
  \: Tijdens de lunch en koffiepauzes zal in het demonstratie theater live software worden getoond.Deze korte demonstraties van sponsors, open source projects en de gebruikersgroepen tonen wat er vandaag de dag mogelijk is met open source.
%p
  %strong
    Code Sprint
  \: Het weekend na de FOSS4G is gereserveerd voor de Hackers'
  Code Sprint. Hackers zullen worden opgesloten in een kelder met veel
  internet bandbreedte, pizza en frisdrank. (Ach, misschien niet helemaal, maar dit is toch hoe het hackers imago bekend staat?).
/
  end #mainContent
/
This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
%br.clearfloat
