
.notice
  Call for
  %a{ :href => "./presentations/" }
    Presentations
  Now Open!
%h1
  FOSS4G 2009 – PIU' DI UNA CONFERENZA INTERNAZIONALE SUL SOFTWARE GEOGRAFICO LIBERO
%p
  %br
  La conferenza per il
  %i
    Software Geografico Libero e Aperto
  (FOSS4G) si terrà dal 20 al 23 Ottobre 2009 a Sydney, Australia.
%p
  %a.external.free{ :href => "http://2009.foss4g.org", :title => "http://2009.foss4g.org", :rel => "nofollow" }
    http://2009.foss4g.org
%p
  Partend dagli incontri delle comunità open source a livello locale, la conferenza FOSS4G è rinata negli ultimi anni come luogo di incontro per esperti internazionali nel campo dell’informazione geografica per raccogliere e discutere i problemi e le opportunità del momento. Con temi che vanno dall'integrazione dell'Open Source con sistemi proprietari per la costruzione di infrastrutture di dati spaziali (SDI) e l'applicazione di formati geospaziali standard  , la conferenza offre un'opportunità unica di sfruttare la ricchezza di conoscenze e di esperienze a disposizione tra gli sviluppatori Open Source, sponsor e professionisti geospaziali di tutte le provenienze.
%p
  %br
  I punti di forza del FOSS4G 2009 includono:
%p
  %br
  %b
    The Climate Change Integration Plugfest (CCIP)
  \: FOSS4G lancerà il OGC's Climate Change Integration Plugfest (CCIP), che dimostra l'interoperabilità basata tra le applicazioni geospaziali open source e quelle proprietarie, basandosi su protocolli standard. Sarà possibile vedere in funzione server con più macchine virtuali, ciascuna installata con applicazioni geospaziali che offrono servizi web basati sugli standard attuali. Ci saranno molte opportunità di esaminare componenti SDI e parlare direttamente con i venditori e gli esecutori circa l'efficacia dei diversi approcci e dei componenti.
%p
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %b
    FOSS4G Live DVD
  \: I Live DVD, basati sul sistema operativo Xubuntu e forniti di software geospaziale open source, saranno distribuiti a tutti i delegati. Gli utenti possono lanciare il Live DVD sul proprio computer e provare il software senza installare o modificare il sistema esistente.
%p
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %b
    Installfest
  \: L'informale Installfest pre-cena darà l'opportunità ai delegati di incontrarsi in uno spazio comune e installare una vasta gamma di software FOSS sul proprio laptop, EEE PC o qualsiasi altro sistema. I membri della Community saranno a portata di mano per aiutare con eventuali problemi e fornire aiuto e informazioni sul software.
%p
  %b
    Workshop e Tutorials
  \: Gli Workshop e i Tutorial permettono ai presentatori di condurre i partecipanti attraverso applicazioni, soluzioni di integrazione, o di altri argomenti in un ambiente interattivo.
%p
  %b
    Presentazioni
  \: Il cuore della conferenza sono le sue presentazioni. Sulla base di una grande community di livello locale, regionale e internazionale di esperti che discuteranno alcuni dei più attuali argomenti legati al settore. Aspettatevi di sentire presentazioni aperte, che discutno le debolezze oltre che i punti di forza,  e magari vedere il famoso duello tra Web Map Server.
%p
  %br
  %b
    Birds of a Feather
  \: Sono state prenotate stanze per incontri semi-organizzati tra gruppi di persone con la stessa mentalità. Alcune delle iniziative più importanti della community sono nate nelle precedenti sessioni dei FOSS4G Birds of a Feather.
%p
  %b
    Code Sprint
  \: Il weekend successivo al FOSS4G è previsto lo Hackers' Code Sprint. Gli hacker saranno rinchiusi in una cantina con un sacco di banda, pizza e bibite. (Beh, forse qualcosa di meglio rispetto a questo, ma non vogliamo rovinare la mistica immagine degli hacker).
/
  end #mainContent
/
This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
%br.clearfloat
