
.notice
  Call for
  %a{ :href => "./presentations/" }
    Presentations
  Now Open!
%h1
  FOSS4G 2009 – 오픈 소스 지리공간 컨퍼런스를 넘어
%p
  %br
  오픈 소스 지리공간 컨퍼런스인 FOSS4G가 2009년 10월 20일부터 23일까지 호주 시드니에서 개최됩니다.
  %a.external.free{ :href => "http://2009.foss4g.org/", :title => "http://2009.foss4g.org/", :rel => "nofollow" }
    http://2009.foss4g.org/
%p
  %br
  지역적 오픈 소스 커뮤니티 모임으로부터 성장한 FOSS4G 컨퍼런스는 국제적인 지리공간 전문가들이 함께 모여서 최근의 여러 문제들과 기회들을 토론하는 만남의 장소로 새롭게 태어나고 있습니다. 이번 컨퍼런스는, 오픈 소스와 독점 시스템의 통합이라는 주제부터 공간정보인프라 구축, 개방형 지리공간 표준의 적용이라는 주제를 다루며, 다양한 오픈 소스 개발자, 후원자 그리고 지리공간 전문가들의 풍부한 지식과 경험을 접할 수 있는 다양한 기회를 제공할 것입니다.
%p
  %br
  FOSS4G 2009의 주요 특징:
%p
  %b
    The Climate Change Integration Plugfest (CCIP)
  \: FOSS4G에서는 OGC의 기후 변화 통합 플러그페스트(Plugfest) 행사가 열리며, 해당 행사에서는 오픈 소스와 독점 응용 프로그램 간의 표준 기반 상호운용성이 시연됩니다. 이 행사는 다중 가상 머신이 설치된 여러 서버들로 구성되며, 각각의 가상 머신에는 표준 기반 웹 서비스를 제공하는 지리공간 응용 프로그램이 설치될 것입니다. 그곳에는 SDI 구성 요소를 검토해 볼 수 있는 많은 기회가 있을 것입니다. 그리고 제품 판매자 혹은 시스템 구현자와 시스템 구축의 다양한 접근법과 구성 요소에 대해 직접 이야기 나누실 수 있습니다.
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %b
    FOSS4G Live DVD
  \: Xubuntu 운영 체제에서 구동되며 지리공간 오픈 소스 소프트웨어를 담고 있는 Live DVD는 컨퍼런스 참가자 모두에게 제공됩니다. 사용자는 자신의 컴퓨터에 Live DVD의 설치없이 직접 Live DVD를 부팅시켜 시험해 볼 수 있으며 이러한 과정은 사용자의 컴퓨터에 영향을 미치지 않을 것입니다.
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %b
    Installfest
  \: 저녁 식사 전에 진행될 본 비공식 Installfest에서 참가자는 다양한 종류의 오픈 소스 소프트웨어를 자신의 노트북이나 다른 기기에 설치하는 기회를 가지게 될 것입니다. 소프트웨어 설치나 이해에 대해 주변의 회원이 도움을 줄 것입니다.
%p
  %b
    Workshops and Tutorials
  \: 워크샵과 튜토리얼에서 발표자는 응용 프로그램, 통합 솔루션, 또는 다른 주제를 가지고 상호교류하는 방식으로 참석자들을 이끌 것입니다.
%p
  %b
    Presentations
  \: 컨퍼런스 핵심은 역시 발표입니다. 지역과 전 세계의 전문가들이 모여 오늘날의 산업계에서 가장 따끈따끈하고 날카로운 주제를 가지고 토론할 것입니다. 그 유명한 Web Map Server 성능 테스트 발표 같이 오픈 소스의 강점과 약점에 대해 논의하는 솔직한 발표를 기대합니다.
%p
  %b
    Birds of a Feather
  \: 동호회 모임을 위한 별도의 공간이 준비되어 있습니다. 벌써 FOSS4G 동호회 모임 조직을 위한 제안들이 시작되고 있습니다.
%p
  %b
    Code Sprint
  \: FOSS4G가 마무리된 그 주 주말에는 해커들을 위한 Code Sprint가 준비되어 있습니다. 해커들은 광대역 인터넷과 피자 그리고 콜라가 가득한 지하실에 감금될 것입니다.(음, 아마도 그것보다는 나을 것입니다. 그러나 우리는 신화적인 해커 이미지를 망치고 싶지는 않군요).
/
  end #mainContent
/
  This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
%br.clearfloat
