/ - @layout = "main"

%h1
  Invitation
%p
  We are delighted to welcome you to Sydney for the FOSS4G 2009
  Conference, which will take place from Tuesday 20 - Friday 23 October,
  2009.
%p
  Registrations is now open, click below to go straight to register or click
  %a{ :href => "registration/" }
    here
  to go to read the registration prerequisite.
.notice_white
  %a{ :href => "https://ei.eventinfotech.com.au/ei/rs.esp?id=739&amp;scriptid=LOGINR" }
    %img{ :title => "Register Now!", :src => "images/register_button.png", :border => "0", :alt => "Register Now!" }
%p
  FOSS4G is heralded as the international "gathering of tribes" of open
  source geospatial communities, where developers and users show off their
  latest software and projects. The theme for 2009 is "User Driven",
  highlighting the power of Open Source to solve business problems.
%h1
  What to expect in 2009!
%p
  Carrying on the FOSS4G conference tradition 2009 will present a
  comprehensive agenda, combining content from across the geospatial
  spectrum. FOSS4G is a unique event which collects together a global
  community into a single location for an intensive week of activity. Year
  on year, FOSS4G provides a great opportunity to take part in a very
  special event, where ideas mix together with language to create a
  network of collaboration and creativity.
  To express your interest
  %a{ :href => "./expressionofinterest" }
    now!
%h1
  Important Dates to mark in your Calendar!
%ul
  %li
    %a.nounderline{ :href => "./calendar/FOSS4G_2009_Online_Registration_Opens.ics" }
      %img.nounderline{ :src => "images/ical.gif", :alt => "iCal", :style => "vertical-align:text-bottom" }
    Online Registration Opens: 20th April 2009
  %li
    %a.nounderline{ :href => "./calendar/FOSS4G_2009_Abstract_Submission_Deadline.ics" }
      %img.nounderline{ :src => "images/ical.gif", :alt => "iCal", :style => "vertical-align:text-bottom" }
    Abstract Submission Deadline: 01 June 2009
  %li
    %a.nounderline{ :href => "./calendar/FOSS4G_2009_Early_Registration_Deadline.ics" }
      %img.nounderline{ :src => "images/ical.gif", :alt => "iCal", :style => "vertical-align:text-bottom" }
    Early Registration Deadline: 31 July 2009
%h1
  FOSS4G 2009 Highlights
%p
  %strong
    The Climate Challenge Integration Plugfest (CCIP):
  FOSS4G will launch the OGC's Climate Challenge Integration Plugfest (CCIP), which demonstrates standards based interoperability between Open Source and Proprietary geospatial applications. It consists of a server with multiple virtual machines, each installed with geospatial applications offering standards based web services. All web services will demonstrate a common dataset, and will be accessed by a range of geospatial client applications installed on client computers.
  %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  Presenters are encouraged (but not mandated) to make use of scenarios and on-site data from the Climate Challenge Integration Plugfest (CCIP). This is especially important as demand for access to data over the internet is expected to be high, and Australia has notoriously slow connections to the outside world.
%p
  %strong
    FOSS4G Live DVD:
  LiveDVDs, based on the Xubuntu operating system and including Geospatial Open Source Software, will be given to all delegates. Users can boot a Live DVD on their computer and trial the software without installing or effecting the existing system.
  %a{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %strong
    Installfest:
  The Installfest will give delegates the opportunity to meet in a common area and install a wide variety of FOSS software on their laptops, EEPC or any other system they care to bring in. Community members will be around to assist with any troubles and provide help and insight into the software. The install fest will take place after workshops on the first day.
%p
  %strong
    Workshops and Tutorials:
  Workshops and Tutorials allow presenters to lead attendees through applications, integration solutions, or other topics in an interactive environment. Half-day workshops (3 hours) will be held in computer rooms on the first day. Tutorials (90 minutes) will be held in standard presentation rooms, run concurrently with presentations during the third and fourth days.
%p
  %strong
    Presentations:
  The meat of the conference are it's presentations. Drawing on a huge community of local, regional and international experts we will discuss some of the most current and poignant topics in the industry today.
%p
  %strong
    Birds of a Feather:
  Rooms have been set aside for semi-organised meetings between like minded groups. Some prominant community initiatives started in prior FOSS4G Birds of a Feather sessions.
%p
  %strong
    Code Sprint:
  The weekend after FOSS4G is reserved for the Hackers' Code Sprint. Hackers will be locked in a basement with lots of bandwidth, pizzas and coke. (Well, maybe something better than that, but we don't want to spoil the mystical hacker image by describing it any differently.)
%h1
  Venue - Sydney Convention and Exhibition Centre
%p
  The FOSS4G Conference will be held at the largest purpose-built facility
  in Australia, the Sydney Convention and Exhibition Centre (SCEC). The
  venue is nestled in 50 hectares of parks, gardens, museums, shopping
  malls and amusement areas.
%h1
  Sponsorship and Exhibition
%p
  The FOSS4G Conference offers a dynamic opportunity to strengthen your
  organisation's exposure to your key target markets. This Conference
  brings together the people who create, use, and support open source
  spatial software. No other event brings together members of the open
  source development, open data creation, and open standards promotion
  communities like FOSS4G!
%p
  The Sponsorship & Exhibition Prospectus can be downloaded from the
  Conference website
  %a{ :href => "./sponsorship" }
    sponsorship
  \.
%p
  For abstract & workshops submissions or to express your interest, please
  visit
  %a{ :href => "./workshops/" }
    Workshops
  and
  %a{ :href => "./tutorials/" }
    Tutorials
  \.
%p
  We look forward to meeting you in Sydney in August!
%h2
  %strong
    About OSGeo - Australia/New Zealand
%p
  The Australian and New Zealand chapter of OSGeo focuses on local issues such as
  promoting OSGeo principles at conferences and lobbying for and building open, local
  and geographic datasets.
