
%h1
  FOSS4G 2009 - MAIS QUE UMA CONFERÊNCIA INTERNACIONAL DE
  %i
    SOFTWARE
  LIVRE GEOESPACIAL
%p
  A conferência para
  %i
    Free and Open Source Software for Geospatial
  (FOSS4G) será realizada entre os dias 20 e 23 de outubro de 2009 em Sydney, Austrália.
%p
  %a.external.free{ :href => "http://2009.foss4g.org", :title => "http://2009.foss4g.org", :rel => "nofollow" }
    http://2009.foss4g.org
%p
  Além das reuniões de
  %i
    software
  livre regionais, a conferência FOSS4G renasceu nos últimos anos como um lugar de reunião e intercâmbio de problemas e oportunidades de âmbito internacional para experts em tecnologias geoespaciais. Com temáticas que abarcam desde a integração de sistemas baseados em
  %i
    software
  livre e proprietário, até a criação de Infraestruturas de Dados Espaciais e a aplicação de padrões OGC, a conferência oferece uma oportunidade única para aproveitar a riqueza em conhecimento e experiência dos desenvolvedores de
  %i
    software
  livre, os patrocinadores e os profissionais de todo tipo.
%p
  Os elementos de interesse do FOSS4G 2009 incluem:
%p
  %b
    Evento de integração sobre as mudanças climáticas
  \: FOSS4G lançará o evento de integração da OGC sobre as alterações climáticas (CCIP), que demonstrará a interoperabilidade baseada em padrões entre aplicações geoespaciais baseadas em
  %i
    software
  livre e proprietário. Ele consiste na utilização de servidores em diferentes máquinas virtuais, cada um com aplicações geoespaciais oferecendo serviços
  %i
    web
  baseados em padrões. Haverá muitas oportunidades para rever os diferentes componentes IDE, e falar diretamente com fornecedores e integradores quanto à eficácia das diferentes abordagens e componentes.
%p
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %b
    FOSS4G Live DVD
  \: Será entregue a todos os participantes um
  %i
    Live DVD
  baseado no sistema operacional Xubuntu incluindo
  %i
    software
  livre geoespacial. Os usuários poderão executar o
  %i
    Live DVD
  em seus computadores e testar o
  %i
    software
  sem necessidade de instalar nada em seus sistemas operacionais.
%p
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %b
    InstallFest
  \: Antes do coffe-break será realizada uma festa de instalação que proporcionará aos participantes a oportunidade de conhecer-se em uma área comum e instalar uma grande variedade de
  %i
    software
  livre em seus laptops, minilaptops ou qualquer outra máquina que queiram trazer. Membros da comunidade estarão a disposição para ajudar aos participantes em qualquer problema.
%p
  %i
    Workshops e tutoriais'
  \: Os workshops e tutoriais proporcionarão aos apresentadores a oportunidade de guiar os participantes através das aplicações, soluções de integração e outros tópicos em um ambiente interativo.
%p
  %b
    Apresentações
  \: O "ponto alto" da conferência serão as apresentações. Com base em uma grande comunidade de experts locais, regionais e internacionais discutiremos sobre os temas mais atuais na indústria atual. Espera-se assistir apresentações honestas sobre os pontos fortes e fracos, como a já famosa comparação de desempenho entre servidores de mapas.
%p
  %i
    %b
      Birds of a Feather
  \: Serão disponibilizadas salas para a realização de reuniões semi-organizadas entre grupos de interesse comum. Algumas iniciativas importantes da comunidade começaram em sessões BoF anteriores da FOSS4G.
%p
  %i
    %b
      Code Sprint
  \: O primeiro final de semana após o FOSS4G foi reservado para o
  %i
    Hackers' Code Sprint
  \. Os desenvolvedores se "enclausurarão" em um ambiente com internet de alta velocidade, pizzas e refrescos. (Bem, talvez com algo melhor que tudo isso, mas nós não queremos desmistificar a imagem do
  %i
    hacker
  ).
%p
  %br
