
%h1
  FOSS4G 2009 - Plus qu'une conférence internationnale de géomatique Open Source
%p
  La conférence des logiciels libres et Open Source pour la géomatique (FOSS4G) se tiendra du 20 au 23 octobre 2009 à Sydney, Australie.
%p
  Issue des rencontres régionales de la communauté Open Source, la conférence FOSS4G est devenue au fil des années le lieu de rencontre des experts internationaux en géomatique pour discuter des problèmes et sujets de l'heure. Avec des thèmes allant de l'intégration des systèmes Open Source et propriétaires jusqu'à la construction d'infrastructures de données spatiales et d'applications informatiques suivant les normes de l'OGC, la conférence offre une occasion unique de puiser dans la richesse des connaissances et des expériences disponibles auprès de la multitude de développeurs Open Source, de commanditaires et de professionnels en géomatique.
%p
  Les points d'intérêts du FOSS4G incluent :
%p
  %strong
    La soirée d'intégration des changements climatiques (CCIP) :
  le FOSS4G lancera la soirée d'intégration des changements climatiques (CCIP), qui sera une démonstration d'interopérabilité entre les applications geospatiales open source et propriétaires. Un réseau de serveurs comprenant plusieurs machines virtuelles exposeront leurs applications via des services web normalisés. Cette activité sera l'occasion de voir des composants SDI à l'oeuvre et de discuter directement avec les vendeurs et développeurs des mérites des différentes approches.
  %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %strong
    Live DVD FOSS4G :
  les Live DVD, basés sur un système Xubuntu et incluant des logiciels open source geospatial, seront distribués à tous les participants. Les utilisateurs peuvent démarrer un live DVD sur leur ordinateur et tester les logiciels sans les installer ou affecter leur système existant.
  %a{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %strong
    Soirée installation :
  Une activité d'installation informelle aura lieu avant le dîner et permettra aux visiteurs de se rencontrer dans une salle commune et d'installer une large gamme de logiciels FOSS sur leur portable, EEE PC ou n'importe quel autre système qu'ils auront apporté. Les membres de la communauté seront présents pour assister en cas de problème et fourniront aide et conseils sur les logiciels.
%p
  %strong
    Workshops et tutorials :
  Les ateliers et les tutoriels permettent aux présentateurs de montrer leur application, leur solution d'intégration ou d'autres sujets aux visiteurs dans un environnement interactif.
%p
  %strong
    Présentations :
  Les présentations constituent le coeur de la conférence. Basé sur une large communauté d'experts locaux, régionaux et internationaux, nous discuterons des sujets les plus récent et les plus intéressants dans l'industrie. Au menu, des prestations sans complaisance sur les forces et les faiblesses des divers logiciels, dont la célèbre comparaison des serveurs de cartes web.
%p
  %strong
    Birds of a Feather :
  Des salles ont été réservées pour des rencontres semi-organisées de groupes (les "Birds of a Feather") ayant des intérêts communs. D'importantes initiatives de la communauté ont commencé par de simples "Birds of a Feather" à l'une ou l'autre des conférences FOSS4G.
%p
  %strong
    Code Sprint :
  Le week-end suivant le FOSS4G est réservé pour le Sprint de codage. Les développeurs seront "enfermés" dans une salle avec une connexion internet rapide, de la pizza et du coca (eh bien, peut être quelque chose meilleur que cela, mais nous ne voulons pas entâcher l'image mythique du développeur).
