
%h1
  FOSS4G 2009 – Más que una conferencia internacional de
  %i
    software
  libre geoespacial
%p
  La conferencia para el
  %i
    software
  libre geoespacial (FOSS4G) tendrá lugar del 20 al 23 de octubre de 2009 en Sydney, Australia.
%p
  %a.external.free{ :href => "http://2009.foss4g.org", :title => "http://2009.foss4g.org", :rel => "nofollow" }
    http://2009.foss4g.org
%p
  Más allá de las reuniones de
  %i
    software
  libre regionales, la conferencia FOSS4G ha renacido en los últimos años como un lugar de reunión e intercambio de problemas y oportunidades de ámbito internacional para expertos en tecnologías geoespaciales. Con temáticas que abarcan desde la integración de sistemas basados en
  %i
    software
  libre y privativo, hasta la  creación de Infraestructuras de Datos Espaciales y la aplicación de estándares OGC, la conferencia ofrece una oportunidad única para aprovechar la riqueza en conocimiento y experiencia de los desarrolladores de
  %i
    software
  libre, los patrocinadores y los profesionales de todo tipo.
%p
  Los elementos de interés del FOSS4G 2009 incluyen:
%p
  %b
    Evento de integración sobre el cambio climático
  \: FOSS4G lanzará el evento de integración de OGC sobre el cambio climático (CCIP), que demostrará la interoperabilidad basada en estándares entre aplicaciones geoespaciales basadas en
  %i
    software
  libre y privativo. Consisten en la utilización de servidores en diferentes máquinas virtuales, cada uno con aplicaciones geoespaciales ofreciendo servicios
  %i
    web
  basados en estándares. Habrá muchas oportunidades para revisar los diferentes componentes IDE, y charlar directamente con los proveedores e integradores acerca de la efectividad de las diferentes tecnologías y componentes.
%p
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %b
    FOSS4G Live DVD
  \: Se entregará a todos los asistentes un
  %i
    Live DVD
  basado en el sistema operativo Xubuntu incluyendo
  %i
    software
  libre geoespacial. Los usuarios podrán ejecturar el
  %i
    Live DVD
  en sus computadoras y probar el
  %i
    software
  sin necesidad de instalar nada en sus sistemas operativos.
%p
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %b
    Fiesta de instalación
  \: Antes de la sesión de la comida se llevará a cabo una fiesta de instalación que proporcionará a los asistentes la oportunidad de conocerse en una zona común e instalar una gran variedad de
  %i
    software
  libre en sus portátiles, miniportátiles o cualquier otra máquina que puedan traer. Miembros de la comunidad estarán a mano para ayudar a los asistentes con cualquier problema y dar ayuda y soporte.
%p
  %b
    Talleres y tutoriales
  \: Los talleres y tutoriales proporcionarán  a los ponentes la oportunidad de guiar a los asistentes a través de las aplicaciones, soluciones de integración y otros temas en un entrono interactivo.
%p
  %b
    Presentaciones
  \: La
  %i
    carne
  de la conferencia son las presentaciones. Sobre la base de una gran comunidad de expertos locales, regionales e internacionales discutiremos sobre los temas más actuales en la industria actual. Se esperan escuchar presentaciones honestas acerca de fortalezas y debilidades, como la ya famosa comparativa de rendimientos entre servidores de mapas.
%p
  %i
    %b
      Birds of a Feather
  \: Se dispondrá de salas para realizar reuniones semi-organizadas entre grupos de interés común. Algunas iniciativas importantes de la comunidad han arrancado en sesiones BoF de anteriores FOSS4G.
%p
  %i
    %b
      Code Sprint
  \: El fin de semana anterior al FOSS4G se ha reservado para el
  %i
    Hackers' Code Sprint
  \. Los desarrolladores se encerrarán en un lugar con buen ancho de banda,
  %i
    Internet
  y refrescos. (Bueno, tal vez con algo mejor que todo esto, pero no queremos desmitificar la imagen del
  %i
    hacker
  ).
