
.notice
  Call for
  %a{ :href => "./presentations/" }
    Presentations
  Now Open!
%h1
  FOSS4G 2009 ～国際地理空間オープンソース会議～
%p
  FOSS4G (Free and Open Source Software for Geospatial)
  会議が，オーストラリアのシドニーにて10月20～23日にかけて開催されます。
  %a{ :href => "http://2009.foss4g.org/" }
    http://2009.foss4g.org/
%p
  FOSS4Gは，地域的なオープンソース・コミュニティ活動をへて，数年前からは世界各国の地理空間技術の専門家が一堂に会し，現在の問題や機会について論議するための会議へと変化しています。会議のテーマは，オープンソースとオープンソースでないシステムの統合から，地理空間的インフラストラクチャーの構築やオープンな地理空間標準の活用まで広範にわたります。この会議では，オープンソースの開発者，スポンサー，あらゆる地理空間の専門家が集まることにより，多くの知識と経験に触れる機会を提供します。
%p
  %br
  FOSS4G 2009 のハイライト
%p
  %b
    Climate Change Integration Plugfest
  ： FOSS4Gでは，OGC 気候変動統合プラグフェスタ（CCIP）を開催する予定です。これは，標準に準拠することにより，オープンソースとオープンソースでない地理空間アプリケーションの相互運用を実演するものです。CCIPは，それぞれに標準に準拠したWebサービスを提供する地理空間アプリケーションを含んだ，複数のヴァーチャル・マシーンが走るサーバーにより構成されます。ここは，SDI (Spatial Data Infrastructure)構成要素のレビューや，異なる手法と構成要素を用いることの有効性を，ベンダーと開発者が直接に話し合う機会ともいえます。
%p
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %br
%p
  %b
    FOSS4G Live DVD
  ： Xubuntuを用い，地理空間オープンソースソフトウェアが動作する，Live DVDが全ての参加者に配布されます。ユーザーはLive DVDを使ってPCを起動することにより，インストールや既存システムを変更することなく，ソフトウェアを試用することができます。
%p
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %br
  %b
    Installfest
  \: ディナーの前の時間には，格式張らないInstallfestが開催されます。ここでは，参加者が集まり，持参したラップトップやネットブック（EEE PC），その他のシステムに各種のFOSSをインストールすることができます。コミュニティーのメンバーが，あらゆるトラブルのサポート役になり，ソフトウェアについての助言と知識を与えてくれます。
%p
  %br
  %b
    Workshops and Tutorials
  \: ワークショップとチュートリアルは，発表者は，アプリケーションの利用法，統合的ソリューション，その他のトピックについて，参加者に説明することが可能です。
%p
  %br
  %b
    Presentations
  \: 会議の主題はプレゼンテーションです。多くのローカル，地域，国際的なコミュニティーから専門家が参加するので，この業界で今，最も斬新で面白い話題について論議がされます。また，有名なWeb Map Serverのパフォーマンスの合戦のように，長所と短所についての率直な論議も期待されます。
%p
  %br
  %b
    Birds of a Feather
  \: 共通の関心を持った人たちによる誰でも気軽に参加できるミーティングを持つための部屋も準備します。これまでのFOSS4GのBirds of a Featherセッションは，いくつかの活発なコミュニティーの活動のきっかけとなっています。
%p
  %br
  %b
    Code Sprint
  \: FOSS4G終了後の週末には，ハッカー（マニアックなプログラマー）のためのCode Sprintが予定されています。ハッカーは充実したインターネット環境，ピザ，コークが準備された地下室に引きこもれるぜ！（いや，もうちょっとまともだけど，ミステリアスなハッカーのイメージは壊したくないし）。
/
  end #mainContent
/
This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
%br.clearfloat
