
%h1
  FOSS4G 2009 – Weit mehr als nur eine internationale Geospatial Open Source Konferenz
%p
  Die Konferenz für Freie und Quelloffene Software (Free and Open Source Software) for Geospatial (FOSS4G)
  findet vom 20. bis zum 23. Oktober 2009 in Sydney, Australien statt.
  %a.external.free{ :href => "http://2009.foss4g.org", :title => "http://2009.foss4g.org", :rel => "nofollow" }
    http://2009.foss4g.org
%p
  Aus Regionaltreffen der Open Source Interessengemeinschaften entstanden, hat sich die FOSS4G Konferenz in den letzten Jahren zu einem Treffpunkt
  für internationale geospatiale Experten gewandelt, bei dem die aktuellen Probleme und Chancen erörtert werden.
%p
  Der Bogen der Themengebiete spannt sich von der Integretation von quelloffenen und propietären Softwaresystemen, über den Aufbau von Geodaten Infrastrukturen and der Anwendung von Offenen Standards. Damit bietet die Konferenz eine einzigartige Gelegenheit, sich das Wissen und die Erfahrung der Open Source Entwickler, Sponsoren und geospatialer Experten aus vielen Berufsfeldern zu erschliessen.
%p
  %br
  Einige Highlights der FOSS4G 2009:
%p
  %b
    The Climate Change Integration Plugfest (CCIP)(Klimawandel Integrationsfest)
  \:
  Die FOSS4G startet das Climate Change Integration Plugfest (CCIP) des OGC, welches die standardbasierte Interoperabilität zwischen quelloffenen und propietären geospatialen Anwendungen demonstriert. Die wird durch Server mit mit mehreren virtuellen Maschinen geleistet, bei der auf jeder geospatiale Applikation betrieben werden, die auf standardisierten Webdiensten basieren.
  Damit besteht die Möglichkeit, im Dialog mit Entwicklern und Verteibern sich einen Überblick über verfügbare SDI Komponenten und die Performanz der verschiedenen Ansätze und Komponenten zu gewinnen.
%p
  %a.external.free{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :title => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome", :rel => "nofollow" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %br
  %b
    FOSS4G Live DVD
  \: Live DVDs, basierend auf dem Xubuntu Betriebssystem und bestückt mit geospatialer Open Source Software werden an alle Delegierten verteilt. Die Anwender können ihre Rechner von der Live DVD booten um die Software ohne Installation zu testen und ohne das bestehende Betriebsystem zu verändern.
%p
  %a.external.free{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :title => "http://wiki.osgeo.org/wiki/Live_GIS_Disc", :rel => "nofollow" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %br
  %b
    Installfest
  \:
  Das informelle Installfest vor dem Konferenzdinner gibt den Anwesenden die Gelegenheit zu einem ersten Treffen und zur Installation einer breiten Pallette von FOSS Software auf ihren Laptops, EEE PC oder anderen mitgebrachten Systemen.
  Mitglieder der Community werden anwesend sein um ein auftretenden Problemen und Fragen zur Software zu helfen.
%p
  %b
    Workshops und Tutorials
  \:
  Workshops und Tutorien erlauben es den Ausstellern, den Teilnehmern ihre Applikationen, Integrationslösungen oder weitere Themen in einem interaktiven Umfeld zu präsentieren.
%p
  %b
    Präsentationen
  \:
  Der Schwerpunkt der Konferenz liegt in den Präsentationen. Aus der anwesenden Menge der lokalen, regionalen und nationalen Experten heraus werden die aktuellsten und relevantesten Themen der Industrie diskutiert. Es werden Präsentationen gegeben, die vorbehaltslos Stärken und Schwächen bestehender Lösungen diskutieren, wie etwa im Web Map Server Performance Duell früherer Jahre.
%p
  %b
    Birds of a Feather
  \: Es werden Räume für informelle Treffen von Interessengruppen bereitgestellt.
  Schon mehrere Initiativen der Open Source Community sind aus früheren FOSS4G Birds of a Feather Treffen entstanden.
%p
  %b
    Code Sprint
  \:  Das Wochenende nach der FOSS4G ist für den Hacker Code Sprint reserviert:
  Die Hacker finden sich im Keller bei Bandbreite, Pizza und Cola zusammen. (Naja, vielleicht wird es auch etwas netter, aber hier soll nicht das mythische Bild des Hackers ruiniert werden.)
