
.notice
  Đã bắt đầu mời và nhận gởi
  %a{ :href => "./presentations/" }
    bài thuyết trình
  \!
%h1
  Lời mời
%p
  Chúng tôi rất vui mừng chào đón bạn đến Sydney tham dự Hội nghị FOSS4G 2009, sẽ được tổ chức từ ngày Thứ ba 20 – Thứ sáu 23 tháng mười, 2009.
%p
  FOSS4G là sứ giả giúp tập họp các trường phái, các cộng đồng địa không gian mã mở trên thế giới, là nơi mà các nhà phát triển và người dung trình diễn các dự án và phần mềm mới nhất của mình. Chủ đề của năm 2009 là "Hướng người dung", nêu bật sức mạnh của Mã nguồn mở trong việc giải quyết các vấn đề nghiệp vụ.
%h1
  Mong đợi gì ở hội nghị năm 2009?
%p
  Tiếp nối truyền thống của hội nghịa FOSS4G, năm 2009 sẽ có một lịch trình phong phú, kết hợp nội dung từ tất cả các khía cạnh của địa không gian. FOSS4G sẽ là một sự kiện độc nhất tập hợp cộng đồng toàn cầu vào lại với nhau tại một địa điểm trong một tuần hoạt động sôi nổi. Qua nhiều năm, FOSS4G tạo ra một cơ hội lớn để tham gia vào một sự kiện vô cùng đặc biệt, nơi mà các ý tưởng được phối hợp với ngôn ngữ để tạo thành một mạng lưới sang tạo và hợp tác. Hãy cho thấy sự quan tâm của bạn
  %a{ :href => "./expressionofinterest" }
    ngay bây giờ
  \!
%h1
  Ghi những ngày quan trọng sau vào lịch!
%ul
  %li
    %a.nounderline{ :href => "./calendar/FOSS4G_2009_Online_Registration_Opens.ics" }
      %img.nounderline{ :src => "images/ical.gif", :alt => "iCal", :style => "vertical-align:text-bottom" }
    Bắt đầu đăng ký trực tuyến: đầu tháng tư 2009
  %li
    %a.nounderline{ :href => "./calendar/FOSS4G_2009_Abstract_Submission_Deadline.ics" }
      %img.nounderline{ :src => "images/ical.gif", :alt => "iCal", :style => "vertical-align:text-bottom" }
    Hạn chót gởi thiệu thuyết trình: 01 tháng sáu 2009
  %li
    %a.nounderline{ :href => "./calendar/FOSS4G_2009_Early_Registration_Deadline.ics" }
      %img.nounderline{ :src => "images/ical.gif", :alt => "iCal", :style => "vertical-align:text-bottom" }
    Hạn chót đăng ký trước: 31 tháng bảy 2009
%h1
  Các nội dung nổi bật của FOSS4G 2009 bao gồm
%p
  %strong
    Ngày hội Tích hợp Thay đổi Khí hậu (The Climate Change Integration Plugfest - CCIP):
  FOSS4G sẽ khởi động Ngày hội Tích hợp Thay đổi Khí hậu của OGC (CCIP), ngày hội sẽ trình diễn các chuẩn dựa trên tính đồng vận hành giữa các ứng dụng địa không gian có bản quyền và mã mở. Sẽ có nhiều máy chủ với nhiều máy ảo, mỗi máy đã cài các ứng dụng địa không gian cung cấp các chuẩn dựa trên dịch vụ web (web services). Đại biểu sẽ có cơ hội xem xét các thành phần SDI và trao đổi trực tiếp với các nhà cung cấp về tính hiệu quả của các thành phần và cách tiếp cận khác nhau.
  %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  Những người thuyết trình được khuyến khích (nhưng không bắt buộc) sử dụng các tình huống và dữ liệu trực tuyến từ Climate Challenge Integration Plugfest (CCIP). Điều này đặc biệt quan trọng bởi vì nhu cầu truy cập dữ liệu trên Internet sẽ cao, nhưng Úc lại có kết nối khá chậm.
%p
  %strong
    FOSS4G Live DVD:
  Đĩa DVD chạy sống, dựa trên hệ điều hành Xubuntu và gồm sẵn các Phần mềm Mã mở Địa không gian, sẽ được phát cho tất cả các đại biểu. Người sử dụng có thể khởi động đĩa Live DVD trên máy của mình và dùng thử phần mềm mà không cần cài hoặc làm ảnh hưởng đến hệ thống đang có.
  %a{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %strong
    Ngày hội cài đặt (Installfest):
  Ngày hội cài đặt sẽ diễn ra dưới hình thức thân mật trước bữa tối, sự kiện này sẽ cho các đại biểu cơ hội gặp gỡ trong một lĩnh vực chung và cài các phần mềm FOSS đa dạng trên máy tính của mình, EEE PC hoặc bất kỳ hệ thống nào mà họ mang đến. Các thành viên cộng đồng sẽ trợ giúp để khắc phục khó khăn và giúp hiểu hơn về phần mềm. Ngày hội cài đặt sẽ bắt đầu sau các bài workshop trong ngày đầu tiên.
%p
  %strong
    Các Buổi workshop and Bài học:
  Các Buổi workshop và Bài học sẽ giúp giảng viên dẫn dắt những người tham gia đi qua các ứng dụng, giải pháp tích hợp hoặc các chủ đề khác trong một môi trường tương tác. Các bài workshop nửa ngày (3 giờ) sẽ được tổ chức trong các phòng máy tính trong ngày đầu tiên. Các bài học (90 phút) sẽ được tổ chức trong phòng thuyết trình, diễn ra song song với các phần thuyết trình suốt ngày thứ ba và thứ tư của hội thảo.
%p
  %strong
    Các bài thuyết trình:
  phần hồn của hội thảo chính là các bài thuyết trình. Được dẫn dắt bởi các chuyên gia địa phương, châu lục và quốc tế, chúng ta sẽ cùng thảo luận một số chủ đề nhức nhối và cấp bách hiện nay trong ngành. Chúng  ta sẽ nghe các bài thuyết trình thảo luận thẳng thắn trình bày các điểm yếu cũng như điểm mạnh, ví dụ như là cuộc đấu hiệu năng của các Máy chủ Bản đồ Web nổi tiếng.
%p
  %strong
    Hội những người cùng sở thích (Birds of a Feather):
  Ban tổ chức dành các phòng cho các cuộc họp không chính thức giữa những nhóm cùng quan điểm. Một vài khởi xướng, ý tưởng cộng đồng đáng chú ý đã được bắt đầu trước cả phần FOSS4G Birds of a Feather.
%p
  %strong
    Tỷ thí viết code (Code Sprint):
  Thời điểm cuối tuần sau hội thảo FOSS4G sẽ được dành cho Cuộc tỷ thí của các "hacker" (chú thích: nghĩa bóng, ý nói những người thích vọc công nghệ). Các "hacker" sẽ được đưa vào một hội trường với băng thông mạng lớn, pizza và bánh ngọt. (Còn có thể có nhiều thứ tốt hơn thế nữa, nhưng chúng tôi không muốn làm hỏng đi hình ảnh bí hiểm của "hacker").
%h1
  Địa điểm tổ chức – Trung tâm Hội nghị và Triển lãm Syney
%p
  Hội nghị FOSS4G sẽ được tổ chức tại một địa điểm được trang bị chuyên dụng tại Úc – Trung tâm Hội nghị và Triển lãm Syney (Sydney Convention and Exhibition Centre  - SCEC). Địa điểm tổ chức trải rộng với diện tích 50 hecta, bao gồm công viên, vườn cây, bảo tảng, trung tâm mua sắm và các khu vực giải trí.
%h1
  Tài trợ và Triển lãm
%p
  Hội nghị FOSS4G mang đến một cơ hội năng động để tăng cường hình ảnh của công ty/đơn vị của bạn đến các thị trường mục tiêu. Hội thảo này mang đến những con người tạo ra, sử dụng và ủng hộ phần mềm không gian mã mở. Không sự kiện nào khác mang đến được các thành viên phát triển mã mở, các đơn vị tạo dữ liệu mở và các cộng đồng khuyến khích chuẩn mở như FOSS4G!
%p
  Thông cáo Tài trợ & Triển lãm có thể được download từ
  %a{ :href => "./sponsorship" }
    phần tài trợ
  của trang web hội thảo.
%p
  Để gởi nội dung giới thiệu và workshop hoặc trình bày sự quan tâm, xin đến trang
  %a{ :href => "./workshops/" }
    Workshops
  và
  %a{ :href => "./tutorials/" }
    Bài học
  \.
%p
  Chúng tôi mong được gặp bạn tại Syney vào tháng tám!
%h2
  %strong
    Về OSGeo – Úc/New Zealand
%p
  Chapter của Úc và New Zealand trên OSGeo tập trung và các vấn đề địa phương, chẳng hạn như cổ động các mục tiêu của OSGeo tại các hội thảo, dọn đường và xây dựng các tập dữ liệu địa lý địa phương mở.
  /
    end #mainContent
/
This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
%br.clearfloat
