%h1
  FOSS4G 2009 – 不仅仅是一次关于开放源代码空间信息技术的国际会议
%p
  FOSS4G（Free and Open Source Software for Geospatial)国际会议将于2009年10月20-23日在澳大利亚悉尼市正式举行。
  %a{ :href => "http://2009.foss4g.org/" }
    http://2009.foss4g.org/
%p
  FOSS4G会议起源于几个开放源代码社团的区域性会议，近年来已经升华为大型国际会议，为国际空间信息技术专家提供聚会与讨论问题的会议场所及交流机会。通过其设立的会议议题如：开源代码与企业专有系统的集成、空间数据基础设施建设、及开放标准规范等，FOSS4G会议为与会者们提供了一个千载难逢的机会，来深刻认识开放源代码开发者、资助者和空间信息技术专业人员所具有的丰富知识与经验价值。
%p
  FOSS4G 2009焦点:
%p
  %strong
    The Climate Change Integration Plugfest (CCIP):
  FOSS4G将发起OGC气候变化集成活动，演示基于标准规范所构建的开源代码空间应用系统与企业专有空间应用系统之间的互操作性。演示平台由多台虚拟服务器组成，每台服务器均安装空间应用程序、并提供兼容互操作标准的WEB服务。CCIP将为与会者提供方便的交流机会，以便了解空间数据基础设施（SDI）的系统组成，与应用系统提供商和开发者进行直接对话、了解不同方法及不同系统组成的实施效果。
  %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome " }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
%p
  %strong
    FOSS4G Live DVD*:
  向与会代表分发Live DVD光盘。Live DVD以Xubuntu为操作系统，支持常用的开源代码空间信息技术软件。用户可以直接在其计算机上启动Live DVD、使用其包含软件，但是不会影响计算机已有软件系统或者向其安装任何软件。
  %a{ :href => "http://wiki.osgeo.org/wiki/Live_GIS_Disc" }
    http://wiki.osgeo.org/wiki/Live_GIS_Disc
%p
  %strong
    Installfest:
  晚餐前的非正式Installfest活动，将向与会代表提供公共聚会场所，用户可以在自己的机器（如：笔记本、EEE PC等）上安装各种FOSS软件。社区成员将现场辅导，帮助解决困难、了解软件功能。
%p
  %strong
    Workshops and Tutorials:
  讲习班和培训班，允许主讲者就具体应用、集成方案或者其他话题，积极与听众展开互动。
%p
  %strong
    Presentations:
  会议主题是大会报告。将充分利用地方、区域、以及国际专家的巨大社团资源，选择当今工业社会最现实、最关心的话题。期待内容翔实、优劣分析真实的报告，如WEB地图服务器性能的辩论等。
%p
  %strong
    Demo Theatre:
  午餐或会议休息时间提供软件现场展示。这些短暂演示来自于会议赞助方、开放源代码项目或者用户社团，目的让大家了解今天的OPEN SOURCE的广泛应用。
%p
  %strong
    Birds of a Feather:
  向临时组织或半公开组织的会议预留房间，如：一些志同道合者的团体会议。部分知名社团的预备活动将始于FOSS4G Birds of a Feather活动之前。
%p
  %strong
    Code Sprint:
  FOSS4G周末，黑客的Code Sprint安排。黑客们将被安置在一个地下室内，提供丰富的网络带宽、比萨饼、可乐。（当然，可能还有其他更好的东西，这里不想写太多以免矮化神秘的黑客形象）。
