#sidebar2
  %h3
    Hosted by
  %p
    %a{ :href => "http://www.osgeo.org/" }
      %img{ :src => "images/osgeo_logo2.gif", :border => "0", :height => "71", :alt => "OSGeo Logo", :width => "160" }
  %p
    %a{ :href => "http://www.osgeo.org/" }
      The Open Source Geospatial Foundation
    (OSGeo)
    has been created to support and build the highest-quality open source geospatial
    software. The foundation's goal is to encourage the use and collaborative development
    of community-led projects, data development and education.
  /
    end #sidebar2
  %h3
    Media Sponsors
  %table
    %tr
      %td
        %a{ :href => "http://www.positionmag.com.au/" }
          %img{ :src => "images/Position Magazine.JPG", :border => "0", :width => "160" }
    %tr
      %td
        %a{ :href => "http://www.DirectionsMedia.NET/" }
          %img{ :src => "images/dme.png", :border => "0", :width => "160" }
    %tr
      %td
        %a{ :href => "http://www.asmmag.com/" }
          %img{ :src => "images/ASM Logo.JPG", :border => "0", :padding => "5", :width => "160" }
