
%h1
  FOSS4G 2009 Tutorials
%h2
  %strong
    Tutorials
%p
  12 90 minute tutorials will be held on Thursday October 22 and Friday October 23.
  with particular emphasis on the following topics:
%ul
  %li
    Practical introductions
  %li
    Interoperability
  %li
    Spatial data accuracy
  %li
    Spatial data privacy
  %li
    Data migration
  %li
    System implementation
  %li
    Data security
%h2
  Tutorials
%p
  It is our pleasure to end the speculation on tutorials for FOSS4G in October.  While the full descriptions won't be published until closer to the opening of registration, here is the final list:
.en_session_title
  A Friendly Hands-on Survey of Popular Geospaital Services
.en_session_speakers
  Jody Garnett, Mark Leslie, and Andrea Antonello
%br
.en_session_title
  Delivering data using published application schemas
.en_session_speakers
  Rob Atkinson, Ben Caradoc-Davies
%br
.en_session_title
  Getting Started with MapWindow: An easy-to-install, easy-to-use free GIS for Windows
.en_session_speakers
  Dan Ames and Ted Dunsford
%br
.en_session_title
  How to Cope with GeoSpatial - Intro to GeoTools for the Java Developer
.en_session_speakers
  Jody Garnett and Michael Bedward
%br
.en_session_title
  Introduction to deegree iGeoDesktop
.en_session_speakers
  Hanko Rubach
%br
.en_session_title
  Leveraging OGC Services with GeoExt
.en_session_speakers
  Andreas Hocevar
%br
.en_session_title
  Making Maps Fast - Performance tuning and Tile Caching
.en_session_speakers
  Arne Kepp and Jim Groffen
%br
.en_session_title
  Making Maps Pretty with Style Layer Descriptor
.en_session_speakers
  Andrea Aime and Jim Groffen
%br
.en_session_title
  Protecting OGC Web Services with the 52°North Security System
.en_session_speakers
  Jan Drewnak
%br
.en_session_title
  Sensor Web Enablement - Bringing Sensors into SDIs
.en_session_speakers
  Arne Broering, Simon Jirka, Christoph Stasch, and Thomas Everding
%br
.en_session_title
  Using ILWIS with its PostGIS plug-in for raster-vector applications
.en_session_speakers
  Rob Lemmens
%br
.en_session_title
  Working with GRASS-GIS Vectors and Databases
.en_session_speakers
  Richard Chirgwin
%br
%h2
  %strong
    Guidelines for tutorials
%p
  Tutorials offer you the opportunity to share your knowledge and passion for your
  favorite application, intregration solutions, technology or other topic in bite-sized
  pieces.
%p
  Tutorial rooms will not be equipped with computers so any hands-on aspects are the
  responsibility of the presenter and must be stated; the tutorial may recommend participants
  to bring their own laptop. Most laptops can be expected to be running some version
  of the Windows operating system. Preference will be given to hands-on tutorials.
%p
  FOSS4G LiveDVDs, based on the Xubuntu operating system, will be available at the
  conference and supplied to all attendees. These may be used in the Tutorials, or
  installation of software packages provided by the presenter may be part of the tutorial.
  Any presenter that is to make use of the LiveDVD is expected to test their tutorial
  against it during its production to ensure it will meet your needs. To discuss your
  requirements for LiveDVD, please
  %a{ :href => "http://2009.foss4g.org/contacts/" }
    contact
  the organising committee
%p
  Presenters are encouraged to make use of scenarios and on-site data from the Climate
  Change Integration Plugfest (CCIP) if appropriate. This is especially critical as
  demand for access to data over the internet is expected to be very high, and Australia
  has notoriously slow connections to the outside world. Contact details for the CCIP
  are available at
  %a{ :href => "at http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
    http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome
  \.
/
  end #mainContent
/
  This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
%br.clearfloat
