
%table
  %tr
    %td
      %h1
        Host City - Sydney
      %p
        %img{ :src => "../images/sydney1.jpg", :height => "130", :hspace => "5", :alt => "Sydney", :align => "left", :width => "200" }
        Sydney,  Australia's gateway city and the capital of New South Wales, is built around  one of the largest, most beautiful harbours in the world with miles of golden  beaches stretching north and south of the city on the shore of the Pacific  Ocean.
      %p
        With  a population of over 4 million, Sydney  is a vigorous, cosmopolitan city, a major industrial, business and commercial  centre and is endlessly fascinating in its variety and its beauty. It has a rather  warm climate in October.
  %tr
    %td{ :align => "center" }
      %object#viddler_b00d6c16{ :height => "411", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :width => "437" }
        %param{ :name => "movie", :value => "http://www.viddler.com/player/b00d6c16/" }
        %param{ :name => "allowScriptAccess", :value => "always" }
        %param{ :name => "allowFullScreen", :value => "true" }
        %embed{ :name => "viddler_b00d6c16", :src => "http://www.viddler.com/player/b00d6c16/", :type => "application/x-shockwave-flash", :allowFullScreen => "true", :allowScriptAccess => "always", :height => "411", :width => "437" }
  %tr
    %td
      %p
        %img{ :src => "../images/sydney2.jpg", :height => "130", :hspace => "5", :alt => "Opera House", :align => "right", :width => "200" }
        Perhaps the most famous of Sydney's  landmarks is the spectacular
        %a{ :href => "http://www.cultureandrecreation.gov.au/articles/sydneyoperahouse/" }
          Sydney Opera House
        with its  graceful 'sails'. The Opera House has become Sydney's cultural centre, offering opera, ballet,  drama and film. The historic 'Rocks' area, site of the original European  settlement, is nearby, and this part of the harbour foreshore is a hub of  activity for both local residents and visitor. Souvenir hunters should visit  the
        %a{ :href => "http://www.therocksmarket.com.au/index.cfm?page=dyncontent.cfm&amp;contentid=100005" }
          Rocks Market
        which is open every  Saturday and Sunday from 10 am to 5 pm.
      %p
        The
        %a{ :href => "http://www.phm.gov.au/home.asp" }
          Powerhouse  Museum
        is Australia's  largest and most popular museum. It is located in Darling Harbour,  near the Conference venue. Its unique and diverse collection of 385,000 objects  spans history, science, technology, design, industry, decorative arts, music,  transport and space exploration. Nearby, too, is the
        %a{ :href => "http://www.anmm.gov.au" }
          National  Maritime Museum
        \. Take a ferry from Circular Quay across the harbour  to
        %a{ :href => "http://www.zoo.nsw.gov.au" }
          Taronga  Zoo
        , with its collection of about 340 species and over 2600  individual animals of Australia  and around the world, including the Australian sealion, koala, kookburra and  platypus (a burrowing egg-laying mammal). Also well worth a visit are the
        %a{ :href => "http://www.amonline.net.au/" }
          Australian  Museum,
        the
        %a{ :href => "http://www.hht.net.au/museums/museum_of_sydney" }
          Museum of Sydney
        and the
        %a{ :href => "http://www.artgallery.nsw.gov.au" }
          Art  Gallery of New South Wales
        , which has fine collections of Australian  art including Aboriginal art, Asian art and Western (international) art. You  will find some of Sydney's  other attractions and activities listed
        %a{ :href => "http://www.visitnsw.com/zone/Sydney.aspx" }
          here
        \.
      %p
        %img{ :src => "../images/sydney3.jpg", :height => "130", :hspace => "5", :alt => "Bondi Beach", :align => "left", :width => "200" }
        The beaches and  harbour play a major role in the leisure and sporting lives of Sydneysiders -  yachting, surfing, sailboarding, swimming, boating, fishing and waterskiing are  all popular activities.
      %p
        Many  national parks and protected areas of natural bushland surround the city and  the beautiful Blue Mountains  are a short journey to the west.
      %br{ :clear => "all" }
