
%h1
  FOSS4G 2009 Speakers
#navcontainer
  %h2
    Key Notes
  %ul#navlist
    %li
      %a{ :href => "#Raj_Singh" }
        Raj Singh
    %li
      %a{ :href => "#Paul_Ramsey" }
        Paul Ramsey
%p#Raj_Singh
  %img.double-border{ :src => "../images/speakers/raj_singh_100x100.jpg", :style => "float:left" }
  %strong
    Raj Singh
  is Director of Interoperability Programs at the Open Geospatial Consortium. He works on multi-firm software prototyping projects, helps design information architectures, and manages ogcnetwork.net, a web site developed by and for geospatial developers. He is one of the designers of GeoRSS (georss.org) and helped develop the Geospatial Profile of the Federal Enterprise Architecture. Currently Dr. Singh is leading leading a major project to advance information sharing in building construction and design software. His passion is aligning geospatial standards with the general IT industry, and increasing the pervasiveness of geospatial services throughout society. Dr. Singh obtained a Masters in City Planning and a PhD in Urban Studies & Planning from MIT, and a BA in Economics from Brown University.
%p#Paul_Ramsey
  %img.double-border{ :src => "../images/speakers/paul_ramsey_100x100.jpg", :style => "float:left" }
  %strong
    Paul Ramsey
  is an geospatial consultant with OpenGeo, an expert in open source software, and a founder of the PostGIS open source spatial database project. Paul is a director of the Open Source Geospatial Foundation, and has been a long time advocate for making intelligent use of open source in systems design.  Paul speaks and teaches frequently at conferences on the use and abuse of open source geospatial software." His keynote is titled:
  %strong
    Beyond Nerds Bearing Gifts:
    The Future of the Open Source Economy
