#footer
  %table{ :border => "0", :width => "675" }
    %tr
      %td{ :colspan => "3" }
        %h4
          Contact Us
    %tr
      %td{ :width => "156" }
        %p
          %a{ :href => "http://www.tourhosts.com.au/" }
            %img{ :src => "../images/thlogo.gif", :border => "0", :height => "29", :alt => "Tour Hosts", :width => "100" }
            %br
            %br
          FOSS4G 2009 Conference Managers
          %br
          c/o Tour Hosts Pty Limited
      %td{ :valign => "top", :width => "167" }
        %p
          %strong
            Postal
          %br
          GPO Box 128
          %br
          Sydney, NSW, 2001 Australia
          %br
          Courier
          %br
          Level 10 51 Druitt Street
          %br
          Sydney, NSW, 2001 Australia
      %td{ :valign => "top", :width => "338" }
        %p
          %strong
            Phone and Email
            %br
          Ph: + 61 2 9265 0700
          %br
          Fax: + 61 2 9267 5443
          %br
          Email:
          %a{ :href => "mailto:foss4g2009@tourhosts.com.au" }
            foss4g2009@tourhosts.com.au
    %tr
      %td{ :colspan => "3" }
        %p
          %br
          If you have experienced any difficulties with this Website then please let us
          %a{ :href => "mailto:foss4g2009@tourhosts.com.au?Subject=FOSS4G 2009 Web Site Issue" }
            know
          \.
  /
    end #footer
