%tr
  %td{ :colspan => "2" }
    %h3
      Press Releases

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_11" }
      11. May 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_10" }
      10. Apr 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_9" }
      9. Apr 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_8" }
      8. Mar 2009
      
%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_7" }
      7. Mar 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_6" }
      6. Mar 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_5" }
      5. Feb 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_4" }
      4. Jan 2009
      
%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_3" }
      3. Jan 2009

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_2" }
      2. May 2008

%tr
  %td{ :colspan => "2" }
    %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_1" }
      1. Feb 2008
      
