#sidebar2
  = partial('translation_flags')
  
  %h3
    Hosted by
  %p
    %a{ :href => "http://www.osgeo.org/" }
      = img( "osgeo_logo2.gif", :border => "0", :alt => "OSGeo Logo") 
  %p
    %a{ :href => "http://www.osgeo.org/" }
      The Open Source Geospatial Foundation
    (OSGeo)
    has been created to support and build the highest-quality open source geospatial
    software. The foundation's goal is to encourage the use and collaborative development
    of community-led projects, data development and education.

  = partial('sponsors')
  /
    end #sidebar2
