%h3
  Charging Station Sponsor
%td
  %a{ :href => "http://www.lisasoft.com/" }
    %img{ :src => "images/sponsors/lisasoftFOSS4G_chrg_stn_160x61.png", :border => "0", :padding => "5" }
%h3
  Bronze Sponsors
%td
  %a{ :href => "http://www.geocat.net/" }
    %img{ :src => "images/sponsors/GeoCat_160x33.png", :border => "0", :padding => "5" }
%td
  %a{ :href => "http://lat-lon.de/" }
    %img{ :src => "images/sponsors/logo-latlon160x115.png", :border => "0", :padding => "5" }
%td
  %a{ :href => "http://mapgears.com/" }
    %img{ :src => "images/sponsors/mapgears_rgb_transparent_160x97.png", :border => "0", :padding => "5" }
%h3
  Media Sponsors
%table
  %tr
    %td
      %a{ :href => "http://www.positionmag.com.au/" }
        %img{ :src => "images/sponsors/Position Magazine160x48.JPG", :border => "0" }
  %tr
    %td
      %a{ :href => "http://www.DirectionsMedia.NET/" }
        %img{ :src => "images/sponsors/dme160x34.png", :border => "0" }
  %tr
    %td
      %a{ :href => "http://www.asmmag.com/" }
        %img{ :src => "images/sponsors/ASM Logo160x49.JPG", :border => "0", :padding => "5" }
  %tr
    %td
      %a{ :href => "http://www.geoconnexions.org/" }
        %img{ :src => "images/sponsors/GeoInt.jpg", :border => "0", :padding => "5" }
