%div{ :float => "left" }
  %table
    %td
      %a{ :href => "index.html" }
        %img.nounderline_selected{ :title => "English", :src => "images/flags/us.png", :alt => "English" }
    %td
      %a{ :href => "index_pt.html" }
        %img.nounderline{ :title => "Portuguese", :src => "images/flags/br.png", :alt => "Portuguese" }
    %td
      %a{ :href => "index_fr.html" }
        %img.nounderline{ :title => "French", :src => "images/flags/fr.png", :alt => "French" }
    %td
      %a{ :href => "index_cn.html" }
        %img.nounderline{ :title => "Chinese", :src => "images/flags/cn.png", :alt => "Chinese" }
    %td
      %a{ :href => "index_es.html" }
        %img.nounderline{ :title => "Spanish", :src => "images/flags/es.png", :alt => "Spanish" }
    %td
      %a{ :href => "index_de.html" }
        %img.nounderline{ :title => "German", :src => "images/flags/de.png", :alt => "German" }
    %td
      %a{ :href => "index_jp.html" }
        %img.nounderline{ :title => "japanese", :src => "images/flags/jp.png", :alt => "japanese" }
  %table
    %td
      %a{ :href => "index_nl.html" }
        %img.nounderline{ :title => "Dutch", :src => "images/flags/nl.png", :alt => "Dutch" }
    %td
      %a{ :href => "index_it.html" }
        %img.nounderline{ :title => "Italian", :src => "images/flags/it.png", :alt => "Italian" }
    %td
      %a{ :href => "index_ko.html" }
        %img.nounderline{ :title => "Korean", :src => "images/flags/kr.png", :alt => "Korean" }
    %td
      %a{ :href => "index_vi.html" }
        %img.nounderline{ :title => "Vietnamese", :src => "images/flags/vi.png", :alt => "Vietnamese" }
