
%h1
  FOSS4G 2009 Submissions
%p
  For general information about the submission process see the section submission
  process below: FOSS4G 2009 accepts submissions in the following areas
%ul
  %li
    %a{ :href => "../workshops" }
      Workshops
    (Now Closed)
  %li
    %a{ :href => "../presentations" }
      Presentations
  %li
    %a{ :href => "../tutorials" }
      Tutorials
    (Now Closed)
  %li
    %a{ :href => "../posters" }
      Posters
%p
  All submissions will be subject to an open vote.
%h2
  %strong
    Submission Timeline
%p
  Presentation abstract submissions open on the
  %strong
    9th March 2009
  and close on the
  %strong
    1st June 2009
%h2
  %strong
    Submission Forms
%ul
  %li
    %a{ :href => "http://2009.foss4g.org/downloads/FOSS4G2009_Workshop_Submission.dot" }
      Workshop
    (MS Word)
  %li
    %a{ :href => "http://2009.foss4g.org/downloads/FOSS4G2009_Workshop_Submission.ott" }
      Workshop
    (Open Office)
  %li
    %a{ :href => "http://2009.foss4g.org/downloads/FOSS4G2009_Tutorial_Submission.dot" }
      Tutorial
    (MS Word)
  %li
    %a{ :href => "http://2009.foss4g.org/downloads/FOSS4G2009_Tutorial_Submission.ott" }
      Tutorial
    (Open Office)
%h2
  %strong
    Submission Process
%p
  Presentation submissions are made through a custom form. To make
  a submission for the conference
  %strong
    YOU MUST REGISTER
  \.
%p
  Once you complete your submission you'll be sent a confirmation email
%p
%table{ :cellpadding => "5", :align => "center" }
  %tr
    %td{ :align => "center" }
      %a{ :href => "http://dev.extranet.lisasoft.com/foss4g/accounts/login/" }
        %img{ :src => "../images/login.png" }
    %td{ :align => "center" }
      %a{ :href => "http://dev.extranet.lisasoft.com/foss4g/accounts/register/" }
        %img{ :src => "../images/register.png" }
