%h1
  FOSS4G 2009 Schedule
%p
  FOSS4G will be presenting a comprehensive programme. Including the following:
%ul
  %li
    %p
      94
      %a{ :href => "../presentations" }
        Presentations
      running across three days from the 21st to 23rd October
  %li
    %p
      10
      %a{ :href => "../workshops" }
        Workshops
      running on the 20th of October
  %li
    %p
      12
      %a{ :href => "../tutorials" }
        Tutorials
      running across three days from the 21st to 23rd October</
  %li
    Demonstration Theatre - Live demonstration of open source projects and vendor tools, running
    during lunch and tea breaks
  %li
    %p
      %a{ :href => "../ccip" }
        The Climate Challenge Integration Showcase
  %li
    %p
      A range of
      %a{ :href => "../activities" }
        Events & Activities
%p
  Keep an eye on this page for details of the conference schedule.
