

%h1
  Accommodation
%p
  Sydney has a wide range of accommodation options within easy walking distance to the venue, Sydney Convention and Exhibition Centre and city attractions.
%p
  The FOSS4G Conference Managers are pleased to recommend the following hotels for FOSS4G delegates. The FOSS4G Conference Managers have negotiated discounted accommodation rates at the below hotels for FOSS4G delegates. Please note that all rooms and rates are subject to hotel availability.
%h2
  How to make a reservation
%p
  To make a reservation with Railway Square
  %span.caps
    YHA
  , please either contact the Hostel directly to reserve best available rate or
  %strong
    click on the hotels links
  to make an online reservation.
%p
  To make a reservation with all other listed hotels at the discounted FOSS4G rate, please either contact the relevant hotel directly and advise the FOSS4G code (FOS201009) or
  %strong
    click on your preferred hotel’s logo
  , select your required dates, select the preferred currency to view rates and select your preferred room type to make an online reservation.
%p
  All rooms and rates are subject to hotel availability.
%p
  Please note that the Conference Managers are not taking reservations for this Conference.
%p
  %strong
    The FOSS4G Code for all listed hotels, except Railway Square
    %span.caps
      YHA
    is: FOS201009.


#navcontainer
  %h2
    Accommodation Options:
  %ul#navlist
    %li
      %a{ :href => "#YHA" }
        YHA
    %li
      %a{ :href => "#Ibis" }
        Ibis World Square
    %li
      %a{ :href => "#IbisKing" }
        Ibis King St 
    %li
      %a{ :href => "#Mercure" }
        Mercure Central 
    %li
      %a{ :href => "#IbisDarling" }
        Ibis Darling Harbour 
  %br
  %ul#navlist
    %li
      %a{ :href => "#Menzies" }
        Menzies  
    %li
      %a{ :href => "#Novotel" }
        Novotel 
    %li
      %a{ :href => "#MercureGrandOne" }
        Mercure Grand One 
    
%h2#YHA
  Railway Square
  %span.caps
    YHA
%h3
  %span.caps
    FROM
  A$40.00 per dorm bed per night
%p
  %a{ :href => "http://www.yha.com.au/hostels/details.cfm?hostelid=215" }
    Railway Square
    %span.caps
      YHA
%p
  Sydney’s most laid back hostel, Railway Square adjoins Central Station and is in the heart of Sydney’s backpacker district. For something different, stay in one of the funky railway carriages on the former Platform Zero. Or try one of the comfy rooms in the historic 1904 main building, now converted into contemporary modern accommodation. Spa pool, Internet cafe, 24 hour access, tour desk, indoor and outdoor communal areas and self catering kitchen. Activities and entertainment program. Railway Square
  %span.caps
    YHA
  is within easy walking distance to the Sydney Convention and Exhibition Centre located in Darling Harbour.
%h2#Ibis 
  Ibis Sydney World Square
%h3
  %span.caps
    FROM
  A$135.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=2132&amp;code_chaine=IBI&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Ibis Sydney World Square
%p
  Located right in the heart of Sydney, next to the World Square Centre, you are within easy walking distance to the Sydney Convention and Exhibition Centre located in Darling Harbour, Cockle Bay and Chinatown.  The hotel is moments away from Sydney’s vibrant entertainment and shopping precincts. The Monorail, Sydney Light Rail and Central Station are all nearby, providing easy access to the city and beyond.
%h2#IbisKing
  Ibis Sydney King Street Wharf
%h3
  %span.caps
    FROM
  A$139.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=6412&amp;code_chaine=IBI&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Ibis Sydney King Street Wharf
%p
  Ibis Sydney King Street Wharf is all about the location. Enjoying pride of place on the waterfront in the newest financial district in Sydney, this vibrant hotel offers truly affordable comfort in one of the most desirable locations on the Sydney map. Just minutes from the Sydney Convention and Exhibition Centre located in Darling Harbour, Sydney City, and surrounded by lively restaurants, bars and cafes, Ibis Sydney King Street Wharf features 91 modern rooms, and offers easy access to Sydney buses, ferries and trains.
%h2#Mercure
  Mercure Sydney Central
%h3
  %span.caps
    FROM
  A$155.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=2073&amp;code_chaine=MER&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Sydney Central logo
%p
  Mercure Sydney’s convenient location is the perfect place from which to explore Sydney’s major attractions, making it the perfect choice when travelling for both business and leisure. Located right in the heart of Sydney’s entertainment district surrounded by trendy restaurants and bars, with Central train station and other various public transport right at your doorstep. The Mercure Sydney’s 517 newly refurbished modern contemporary guest rooms and suites are here to offer guests requiring a combination of convenience and an extra comfort.
%h2#IbisDarling
  Hotel Ibis Darling Harbour
%h3
  %span.caps
    FROM
  A$159.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=1757&amp;code_chaine=IBI&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Ibis Darling Harbour
%p
  Recently completed multi-million dollar refurbishment, the 3.5 star Hotel Ibis Darling Harbour is conveniently located in Sydney’s most exciting precinct. Many of the hotel’s 256 rooms offer spectacular views of Darling Harbour. The hotel features internet access, a restaurant, bar and easy access to Sydney Convention and Exhibition Centre and the monorail. Each room features a desk area, tea/coffee facilities, mini fridge, air conditioning and internet access.
%h2#Menzies
  The Menzies Sydney
%h3
  %span.caps
    FROM
  A$173.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=2977&amp;code_chaine=NOV&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Menzies
%p
  Enjoy the city’s best location, near Sydney’s famous attractions including The Rocks, Opera House and Royal Botanic Gardens. The Menzies Sydney overlooks Wynyard Park and is surrounded by restaurants, shopping and theatres. This grand hotel boasts spacious accommodation rooms, superb recreational facilities and excellent restaurants and bars
%h2#Novotel
  Novotel Sydney on Darling Harbour
%h3
  %span.caps
    FROM
  A$259.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=1181&amp;code_chaine=NOV&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Novotel Darling Harbour
%p
  The 4.5 Star Novotel Sydney on Darling Harbour is Connected via undercover walkway to Sydney Convention and Exhibition Centre, it is an ideal choice for corporate travellers and conference groups. Novotel is a modern and stylish hotel offering stunning views of Darling Harbour.
%h2#MercureGrandOne
  Grand Mercure Apartments Darling Harbour
%h3
  %span.caps
    FROM
  A$309.00 per room per night
%p
  %a{ :href => "http://www.accorhotels.com/accorhotels/lien_externe.svlt?goto=resa_express&amp;code_hotel=1807&amp;code_chaine=MER&amp;code_avantage=FOSS4G&amp;code_langue=gb&amp;sourceid=xxx&amp;merchantid=yyy" }
    Mercure Grand One Darling Harbour
%p
  The 4.5 star Grand Mercure Apartments Darling Harbour is nestled in picturesque Darling Harbour with an undercover walkway to the Sydney Convention and Exhibition Centre, shopping, restaurants and Sydney’s premier attractions. The 2 and 3 bedroom apartments are equipped with kitchens, dining, lounge areas and balconies with city and harbour views. The apartments boast a 25 metre rooftop heated pool and spa with skyline views. A fully equipped gymnasium opens onto a spectacular terrace facing Sydney Harbour and west towards the Blue Mountains.
%h2
  General enquires and changes
%p
  For general enquires relating to accommodation or reservation changes please contact the hotels directly. The Conference Managers are not taking reservations or changes for this Conference.
%h2
  Accommodation Locations
%p
  View the accommodation locations on
  %a{ :href => "http://maps.Google.com.au/maps/ms?hl=en&amp;gl=au&amp;ie=UTF8&amp;ptab=2&amp;oe=UTF8&amp;msa=0&amp;msid=107403109059286174321.00045a5822c6d0409cbd0&amp;z=16" }
    Google Maps
