!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      FOSS4G 2009 Conference, Sydney 20-23 October 2009 - Committee
    %link{ :href => "layout.css", :rel => "stylesheet", :type => "text/css" }
    /
      [if IE]>
      <style type="text/css">
      \/* place css fixes for all versions of IE in this conditional comment */
      \.thrColElsHdr #sidebar1, .thrColElsHdr #sidebar2 { padding-top: 30px; }
      \.thrColElsHdr #mainContent { zoom: 1; padding-top: 15px; }
      \/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
      </style>
      <![endif]
    %script{ :src => "../SpryAssets/SpryMenuBar.js", :type => "text/javascript" }
    %link{ :href => "../SpryAssets/SpryMenuBarVertical.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #container
      #header
        %a{ :href => "../index.html" }
          %img{ :src => "../images/logo.gif", :border => "0", :height => "200", :alt => "FOSS4G", :width => "600" }
        /
          end #header
      #sidebar1
        %ul#MenuBar1.MenuBarVertical
          %li
            %a{ :href => "../index.html", :title => "Home" }
              Home
          %li
            %a{ :href => "../expressionofinterest", :title => "Expression of Interest" }
              Expression of Interest
          %li
            %a{ :href => "../sponsorship", :title => "Sponsorship" }
              Sponsorship
          %li
            %a{ :href => "../schedule", :title => "Programme" }
              Programme
            %ul
              %li
                %a{ :href => "../schedule" }
                  Conference Schedule
              %li
                %a{ :href => "../speakers" }
                  Speakers
              %li
                %a{ :href => "../presentations" }
                  Presentations
              %li
                %a{ :href => "../workshops" }
                  Workshops
              %li
                %a{ :href => "../tutorials" }
                  Tutorials
              %li
                %a{ :href => "../posters" }
                  Posters
              %li
                %a{ :href => "index.html" }
                  CCIP
              %li
                %a{ :href => "../activities" }
                  Events & Activities
          %li
            %a{ :href => "../submissions" }
              Submissions Guide
          %li
            %a{ :href => "../sydney", :title => "Sydney" }
              Sydney
            %ul
              %li
                %a{ :href => "../venue" }
                  Venue
              %li
                %a{ :href => "../general", :title => "General Information" }
                  General Information
              %li
                %a{ :href => "../visas", :title => "Visa Information" }
                  Visa Information
          %li
            %a{ :href => "../committee", :title => "Committee" }
              Committee
          %li
            %a{ :href => "../contacts", :title => "Contacts" }
              Contacts
        #stayConnected
          %h3
            Stay Connected
          %table{ :border => "0" }
            %tr
              %td
                %a{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
                  %img{ :src => "../images/Wiki_icon.gif", :border => "0", :height => "40", :alt => "Wiki", :align => "middle", :width => "40" }
              %td
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
                  Wiki
            %tr
              %td
                %a{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
                  %img{ :src => "../images/Mail_icon.gif", :border => "0", :height => "40", :alt => "Mailing List", :align => "middle", :width => "40" }
              %td
                %a.icontext{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
                  Mailing
                  list
                  %br
            %tr
              %td
                %a{ :href => "http://flickr.com/FOSS4G" }
                  %img{ :src => "../images/Flickr.png", :border => "0", :alt => "Flickr", :align => "middle" }
              %td
                %a.icontext{ :href => "http://flickr.com/FOSS4G" }
                  Flickr
            %tr
              %td
                %a{ :href => "http://twitter.com/FOSS4G" }
                  %img{ :src => "../images/Twitter_icon.gif", :border => "0", :height => "40", :alt => "Twitter", :align => "middle", :width => "40" }
              %td
                %a.icontext{ :href => "http://twitter.com/FOSS4G" }
                  Twitter feed
            %tr
              %td{ :colspan => "2" }
                %h3
                  Press Releases
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_1" }
                  February
                  2008
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_2" }
                  May
                  2008
            %tr
              %td{ :colspan => "2" }
                %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009_Press_Release_3" }
                  January
                  2009
      #sidebar2
        %h3
          Hosted by
        %p
          %a{ :href => "http://www.osgeo.org/" }
            %img{ :src => "../images/osgeo_logo2.gif", :border => "0", :height => "71", :alt => "OSGeo Logo", :width => "160" }
        %p
          %a{ :href => "http://www.osgeo.org/" }
            The Open Source Geospatial Foundation
          (OSGeo)
          has been created to support and build the highest-quality open source geospatial
          software. The foundation's goal is to encourage the use and collaborative development
          of community-led projects, data development and education.
        /
          end #sidebar2
        %h3
          Charging Station Sponsor
        %td
          %a{ :href => "http://www.lisasoft.com/" }
            %img{ :src => "../images/sponsors/lisasoftFOSS4G_chrg_stn.png", :border => "0", :padding => "5", :width => "160" }
        %h3
          Bronze Sponsors
        %td
          %a{ :href => "http://www.geocat.net/" }
            %img{ :src => "../images/sponsors/GeoCat_200x42.png", :border => "0", :padding => "5", :width => "160" }
        %td
          %a{ :href => "http://lat-lon.de/" }
            %img{ :src => "../images/sponsors/logo-latlon.png", :border => "0", :padding => "5", :width => "160" }
        %h3
          Media Sponsors
        %table
          %tr
            %td
              %a{ :href => "http://www.positionmag.com.au/" }
                %img{ :src => "../images/Position Magazine.JPG", :border => "0", :width => "160" }
          %tr
            %td
              %a{ :href => "http://www.DirectionsMedia.NET/" }
                %img{ :src => "../images/dme.png", :border => "0", :width => "160" }
          %tr
            %td
              %a{ :href => "http://www.asmmag.com/" }
                %img{ :src => "../images/ASM Logo.JPG", :border => "0", :padding => "5", :width => "160" }
          %tr
            %td
              %a{ :href => "http://www.geoconnexions.org/" }
                %img{ :src => "../images/GeoInt.jpg", :border => "0", :padding => "5", :width => "160" }
      #mainContent
        .notice
          Call for
          %a{ :href => "../presentations/" }
            Presentations
          Now Open!
        %h1
          Climate Challenge Integration Plugfest
        %h2
          %strong
            CCIP
        %p
          CCIP demonstrates standards based interoperability between geospatial applications based on a
          %a.twikiLink{ :href => "/twiki_public/bin/view/ClimateChallenge2009/CcipScenario" }
            Climate Change scenario
          \. It consists of a server with multiple virtual machines, each installed with geospatial applications offering standards based web services. All web services will demonstrate a common dataset, and will be accessed by a range of geospatial client applications installed on client computers.
          The showcase is designed to underpin many initiatives, including:
        %p
        %ul
          %li
            %p
              Technology demonstrators at conferences
          %li
            %p
              Geospatial training programs
          %li
            %p
              Demonstration Software CDs
          %li
            %p
              Testing suite programs
          %li
            %p
              Spatial Data Infrastructure development
          %li
            %p
              Open Data programs
        %p
        %p
          %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
            More info
        /
          end #mainContent
      /
        This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
      %br.clearfloat
      #footer
        %table{ :border => "0", :width => "675" }
          %tr
            %td{ :colspan => "3" }
              %h4
                Contact Us
          %tr
            %td{ :width => "156" }
              %p
                %a{ :href => "http://www.tourhosts.com.au/" }
                  %img{ :src => "../images/thlogo.gif", :border => "0", :height => "29", :alt => "Tour Hosts", :width => "100" }
                  %br
                  %br
                FOSS4G 2009 Conference Managers
                %br
                c/o Tour Hosts Pty Limited
            %td{ :valign => "top", :width => "167" }
              %p
                %strong
                  Postal
                %br
                GPO Box 128
                %br
                Sydney, NSW, 2001 Australia
                %br
                Courier
                %br
                Level 10 51 Druitt Street
                %br
                Sydney, NSW, 2001 Australia
            %td{ :valign => "top", :width => "338" }
              %p
                %strong
                  Phone and Email
                  %br
                Ph: + 61 2 9265 0700
                %br
                Fax: + 61 2 9267 5443
                %br
                Email:
                %a{ :href => "mailto:foss4g2009@tourhosts.com.au" }
                  foss4g2009@tourhosts.com.au
          %tr
            %td{ :colspan => "3" }
              %p
                %br
                If you have experienced any difficulties with this Website then please let us
                %a{ :href => "mailto:foss4g2009@tourhosts.com.au?Subject=FOSS4G 2009 Web Site Issue" }
                  know
                \.
        /
          end #footer
      /
        end #container
    %script{ :type => "text/javascript" }
      /
        var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
        \//
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-7457734-1");
      pageTracker._trackPageview();
      } catch(err) {}
