
%h1
  Climate Challenge Integration Plugfest
%h2
  %strong
    CCIP
%p
  CCIP demonstrates standards based interoperability between geospatial applications based on a
  %a.twikiLink{ :href => "/twiki_public/bin/view/ClimateChallenge2009/CcipScenario" }
    Climate Change scenario
  \. It consists of a server with multiple virtual machines, each installed with geospatial applications offering standards based web services. All web services will demonstrate a common dataset, and will be accessed by a range of geospatial client applications installed on client computers.
  The showcase is designed to underpin many initiatives, including:
%p
%ul
  %li
    %p
      Technology demonstrators at conferences
  %li
    %p
      Geospatial training programs
  %li
    %p
      Demonstration Software CDs
  %li
    %p
      Testing suite programs
  %li
    %p
      Spatial Data Infrastructure development
  %li
    %p
      Open Data programs
%p
%p
  %a{ :href => "http://external.opengis.org/twiki_public/bin/view/ClimateChallenge2009/WebHome" }
    More info
