
%h1
  FOSS4G 2009 Presentations
%p
  Are you planning to present at this years conference? If so, don't wait until you have your presentation finalised to tell us about it! Click below and enter your name and contact details and at least a title. Then, closer to the close-off date, log back in and fill out the abstract details. This will be a big help for the organisers as it will give us some advanced notice as to how many and what type of presentations to expect.
%p
  %a{ :href => "http://dev.extranet.lisasoft.com/foss4g/accounts/register/" }
    %img{ :title => "submit a presentation", :src => "../images/submit_a_talk.png", :border => "0", :padding => "5", :alt => "submit a presentation" }
  </td>
%h2
  %strong
    Guidelines for presentation submissions
%p
  Presentations sessions provide you with a platform to highlight your experiences.
%p
  As a presenter you are expected to provide a digital copy of your presentation.
%p
  To create a presentation submission
  %a{ :href => "http://dev.extranet.lisasoft.com/foss4g/accounts/register/" }
    click here
%p
  For guidelines on the submission process
  %a{ :href => "../submissions" }
    click here
%h2
  %strong
    Presentations
%p
  94 presentations are scheduled from the 21st to the 23rd October. Each session runs
  for 25 minutes. The following is a summary of the presentation schedule
%ul
  %li
    %p
      October 21st - 30 Sessions across 5 rooms
  %li
    %p
      October 22nd - 36 Sessions across 3 rooms
  %li
    %p
      October 23rd - 31 Sessions across 5 rooms
%h2
  %strong
    Presentation Themes
%p
  Presentations submissions can be made on any subject, however the following themes
  are provided as guidance, and more resources can be found
  %a{ :href => "http://wiki.osgeo.org/wiki/Case_Studies" }
    here
%table
  %tr
    %th
      Application
    %th
      Technical
    %th
      Business
  %tr
    %td{ :valign => "top" }
      %ul
        %li
          Disaster management
        %li
          Health
        %li
          Energy
        %li
          Water
        %li
          Climate change
        %li
          Weather
        %li
          Ecosystem management
        %li
          Agriculture
        %li
          Biodiversity
        %li
          Land reform
        %li
          Education
        %li
          Government
        %li
          Local economic development, poverty alleviation
        %li
          Participatory GIS
        %li
          Semantic Web and ontologies in GIS
        %li
          Location based services, logistics, routing
        %li
          NGOs, CBOs (Community-based organisations) and community development
        %li
          Mining, exploration, beneficiation
        %li
          Spatial economics
        %li
          Military
        %li
          Utilities (municipal, gas, electricity, telco)
    %td{ :valign => "top" }
      %ul
        %li
          New Developments and software
        %li
          Technical implementations
        %li
          Using FOSS with proprietary software
        %li
          FOSS Cartography and Map Production
        %li
          Trends with Geospatial standards
        %li
          Security
        %li
          Data: collection, integration, manipulation, presentation, licensing, business models
        %li
          Web 2.0
        %li
          Addressing Reliability, Performance, Load, Scalability, Distributed datasets
        %li
          Testing and Validation
        %li
          Mobile Mapping
    %td{ :valign => "top" }
      %ul
        %li
          Implementation Case Studies
        %li
          FOSS4G Business Case
        %li
          Best of Breed Case Studies
        %li
          nteroperability and Standards
        %li
          The state of FOSS4G
        %li
          FOSS4G Marketing
