
%h1
  Visa Information
%h2
  AUSTRALIAN VISA APPLICATION
%p
  All travelers to Australia, other than Australian and New Zealand citizens, are legally required to hold a valid visa to travel to Australia
  Visa’s are either issued electronically (ETA) with nothing appearing in the passport or through application where a sticker is required in the passport (Non-ETA).
  It is advised to apply for your visa as soon as possible to ensure processing time.  The minimum time frame stated for an Australian visa application is six (6) weeks.
%h2
  AUSTRALIAN VISA APPLICATION SUPPORTING DOCUMENTATION
%p
  Delegates applying for a non-ETA visa may present their paid confirmation letter to an Australian visa office to support their application. No other letters will be issued for this purpose. As a conference delegate, you are not guaranteed to be granted a visa.
%h2
  TYPES OF VISAS AVAILABLE FOR TRAVEL TO AUSTRALIA FOR ATTENDING A CONFERENCE
%p
  A. Short Validity Business Electronic Travel Authority (ETA) Visa
%p
  %strong
    What is the Short Validity Business ETA?
%p
  Known officially as the 977 visa.
  The Short Stay Validity Business ETA is appropriate for visits to Australia for business meetings, conventions, conferences or a short term project requiring a high level of skill. Business visas are subject to a condition prohibiting work that could otherwise be undertaken by any Australian citizen or permanent resident. It replaces the visa label or stamp in a passport and removes the need for application forms.
  ETAs are issued within seconds of being requested through computer links between the Australian Immigration Department, travel agents, airlines and specialist service providers around the world.
  In most cases no fee applies to these visas.
%p
  %strong
    Who can apply for this type of visa?
%p
  Applies to individuals from the following countries
%p
%table
  %tr
    %td
      Andorra
    %td
      Iceland
    %td
      Portugal
  %tr
    %td
      Austria
    %td
      Ireland
    %td
      Singapore
  %tr
    %td
      Belgium
    %td
      Italy
    %td
      South Korea
  %tr
    %td
      Brunei
    %td
      Japan
    %td
      Spain
  %tr
    %td
      Canada
    %td
      Liechtenstein
    %td
      Sweden
  %tr
    %td
      Denmark
    %td
      Luxembourg
    %td
      Switzerland
  %tr
    %td
      Finland
    %td
      Malaysia
    %td
      Taiwan (a)
  %tr
    %td
      France
    %td
      Malta
    %td
      UK (b)
  %tr
    %td
      Germany
    %td
      Monaco
    %td
      USA
  %tr
    %td
      Greece
    %td
      Netherlands
    %td
      The Vatican
  %tr
    %td
      Hong Kong SAR
    %td
      Norway
    %td
      San Marino
</p>
%p
  a) Taiwan passport holders can be processed for an ETA only if resident in and applying in Taiwan.
%p
  b) UK passport holders whose nationality is British National (Overseas) can be processed for an ETA only if resident in and applying in Hong Kong SAR.
%p
  %strong
    How long is the visa valid for?
%p
  The ETA or 977 visa allows multiple visits (for up to 3 months for each visit) within 12 months of visa grant.
%p
  %strong
    Application Procedure
%p
  Visas can be applied for either online or through participating airlines and travel agents.
  In most cases, eligible applicants do not need to go to an Australian mission overseas or fill in forms to apply for an ETA.
%p
  When the DIMIA website www.eta.immi.gov.au  is accessed, the visa applicant will see the following heading: "Welcome to the Australian Government's Electronic Travel Authority System."  At the top left hand side of that screen, the visa applicant will see a tab suggesting that they "Apply for ETA". The visa applicant should click on that tab and then proceed to lodge their visa application online. When asked to choose the kind of ETA for their needs, they should indicate that they are applying for a short stay validity Business ETA.
%p
  Once visa processing is complete, the visa applicant will be provided with a personalised reference number to keep. There will be no visible visa in their passport but their visa will exist electronically and will be visible when read at passport control, on their arrival in Australia.
  
  For more information visit: www.eta.immi.gov.au
%p
  B. Non-Electronic Travel Authority – Non-ETA
%p
  Know officially as the 456 Business (Short Stay) Visitor visa.
%p
  The 456 Business (Short Stay) Visitor visa can be applied for by completing the Form 456. This form can be obtained from an Australian mission or it may be down-loaded from the Department’s website: www.immi.gov.au/allforms/pdf/456.pdf.
  A fee applies for this visa.
%p
  This visa can only be applied for outside Australia.
%p
  When applying for a 456 Business (Short Stay) Visitor visa at an Australian overseas mission, nationals of non-ETA countries, will be expected to provide adequate documentation about their background, financial situation and other relevant details as required, regardless of their professional / social status or standing.
%p
  %strong
    What is the 456 Business (Short Stay) Visitor visa?
%p
  The 456 Business (Short Stay) Visitor visa is the appropriate visa for individuals who wish to visit Australia to attend a conference and do not come from one of the ETA countries, listed above.
%p
  %strong
    Who should apply for this type of visa?
%p
  Individuals from countries other than those listed in the table above, non-ETA countries.
%p
  %strong
    How long is it valid for?
%p
  The 456 Business (Short Stay) Visa is valid for up to 3 months.
%p
  %strong
    Application Procedure
%p
  To lodge an application, the invited event participant must provide the following documentation along with the completed Form 456:
  * Two recent passport photos;
  * The visa application charge payment, or evidence of payment – eg: bank deposit slip (if it was deposited in the embassy’s bank account) or credit card receipt (if it was paid by credit card);
  * A valid passport.
%p
  Additional information may be requested and you will be advised by the Mission if this is the case.
%p
  %strong
    Where can I find an Australian mission?
%p
  For information on locations and contact details of Australian missions visit the World Index at www.immi.gov.au/contacts/overseas
%p
  %strong
    Note:
%p
  You will be required to substantiate all information provided in your application
  You can expect to come under a certain amount of scrutiny as a normal part of the visa assessment process.
  As a conference delegate, you are not guaranteed to be granted a visa.
