
%h1
  Sponsorship
%p
  The local organising committee are delighted to invite you to participate as a valued
  sponsor at the FOSS4G 2009 Conference to be held at Sydney Convention and Exhibition
  Centre from the 20- -23 October 2009 in Sydney Australia.
%p
  The annual Free and Open Source Software for Geospatial (FOSS4G) Conference brings
  together the people who create, use, and support open source spatial software. No
  other event brings together members of the open source development, open data creation,
  and open standards promotion communities like FOSS4G.
%h3
  Theme
%p
  The Conference will be hosted by the Open Source Geospatial Foundation’s (OSGeo)
  Australia/New Zealand chapter. FOSS4G's 2009 theme of ‘User Driven’ aims to highlight
  the Spatial industry's movement toward Open Standards and Open Source, show off
  the best Open Source tools being developed and address the practicalities involved
  in deploying these technologies. The 2009 Conference will be the fourth OSGeo Conference;
  each year the number of delegates has been growing so we highly anticipate that
  this momentum will be strongly evident for the 2009 Conference in Sydney.
%h3
  Opportunity
%p
  We are certain the sponsorship and display area packages that are now available
  will provide your organisation with unparalleled opportunities at all levels for
  local, national and international exposure whilst strengthening your brand within
  the Open Source Geospatial Software Industry.
%p
  Your organisation's alignment with our comprehensive program is the perfect opportunity
  to deliver a clear message of your commitment to the industry.
%p
  We strongly encourage you to consider the packages on offer at the FOSS4G 2009 Conference
  and we look forward to welcoming you to Sydney 2009.
%h3
  Prospectus & Further Details
%p
  %strong
    The Sponsorship Prospectus can be downloaded
    %a{ :href => "http://2009.foss4g.org/downloads/FOSS4G_Sponsorship_Exhibition_Document.pdf" }
      here
%p
  To book your preferred sponsorship package, complete the enclosed booking form and
  return to the Conference Sponsorship & Exhibition Sales Executive - alternatively,
  if you would like to discuss or explore other avenues of involvement which may not
  be outlined in the Prospectus, please contact Kirsty O’Brien, Sponsorship & Exhibition
  Sales Executive Tel: +61 2 9265 0700 or email
  %a{ :href => "mailto:kobrien@tourhosts.com.au" }
    kobrien@tourhosts.com.au
